
		  <div class="">
				<canvas id="graficoLine" ></canvas>
		  </div>
			<div class="">
				<canvas id="graficoBar" ></canvas>
			</div>
			<div class="">
				<canvas id="graficoRadar" ></canvas>
			</div>
			<div class="">
				<canvas id="graficoPolar" ></canvas>
			</div>
			<div class="">
				<canvas id="graficoPie" ></canvas>
			</div>
			<div class="">
				<canvas id="graficoDoughnut"></canvas>
			</div>
			<div class="">
				<canvas id="graficoBubble" ></canvas>
			</div>
