<span class="btn btn-success fileinput-button">
      <i class="glyphicon glyphicon-plus"></i>
      <span>{{i18n "upload.button.addFiles"}}</span>
      <input id="basicFileupload" type="file" name="files[]" data-url="../upload" multiple="multiple" />
</span>
<span id="basicFileuploadContext"></span>
