
<section>
	<h2>{{i18n "upload.title"}}</h2>
	<p>
      	{{i18n "upload.paragraph.line1"}}
    </p>
    <p>
    	{{i18n "upload.paragraph.line2"}}
    </p>
    <p>
    	{{i18n "upload.paragraph.basic"}}
    </p>

    <div class="example">
		{{> basic}}
		
	</div>



</section>
