

{{> _datatableFilterForm}}


<table id="example" class="table table-striped table-bordered" data-url-base="api/jqGridUsuario" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th data-col-prop="id">Id</th>
                <th data-col-prop="nombre">Nombre</th>
                <th data-col-prop="apellido1">Primer apellido</th>
                <th data-col-prop="ejie">Ejie</th>
                <th data-col-prop="fechaAlta">Fecha alta</th>
                <th data-col-prop="fechaBaja">Fecha baja</th>
                <th data-col-prop="rol">Rol</th>
            </tr>
        </thead>
        <tfoot>
          <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Primer apellido</th>
              <th>Ejie</th>
              <th>Fecha alta</th>
              <th>Fecha baja</th>
              <th>Rol</th>
          </tr>
        </tfoot>
</table>
