<div id="cabecera" class="cabecera" style="margin-bottom: 2em;" >
	<div style="float: left; margin-top:-1.5em;margin-bottom:1em;" >
		<a href="#" id="themeroller" ></a>
		<a href="#" id="borrar_themeroller" style="display: none;">Borrar ThemeRoller<img src="images/icons/trash.png"/></a>
	</div>
	<span style="font-size: 2em;color: #000000;margin-left: 1em; ">CABECERA PORTAL</span>
	<a href="/x21aResponsiveWar/" style="float: right; margin-top:-2em;">
		<img src="images/euskadieus_logo.gif" alt="Euskadi Eus"/>
	</a>
</div>
