<div id="cabecera" class="cabecera" style="margin-bottom: 2em;" >
	<div style="float: left; margin-top:-1.5em;margin-bottom:1em;" >
		<img src="images/logo_themeRoller.png" alt="logo_themeRoller"/>
		<a href="#" id="themeroller" ></a>
		<a href="#" id="borrar_themeroller" style="display: none;">Borrar ThemeRoller<img src="images/icons/trash.png"/></a>
	</div>
	<span style="font-size: 2em;color: #000000;margin-left: 1em; ">CABECERA PORTAL</span>
	<a href="/x21aResponsiveWar/" style="float: right; margin-top:-2em;">
		<img src="../css/basic-theme/images/euskadi_net.gif" alt="Euskadi Net"/>
	</a>
</div>