<div class="container-fluid">
  <section>
    <div id="listDialogMainBody">
    </div>
    <div id="listDialogTest">
    </div>
  </section>

  <section>
    <h4>Código</h4>

    <div id="listDialogCode">

    </div>
  </section>
</div>
