<div class="contenedor" >
  <!-- Cabecera -->
  <div id="header"></div>
  <!-- Idioma -->
  <div id="language" ></div>

  <!-- Menu -->
  <div id="menu"></div>
  <div id="overlay"></div>

  <!-- Migas de pan -->
  <div id="breadCrumb" class="rup-breadCrumb_root"></div>

  <!-- Contenidos -->
  <div id="container" class="content"></div>

  <!-- Pie -->
  <div id="footer"></div>
</div>
