<div class="contenedor" >
  <!-- Cabecera -->
  <div id="header"></div>
  <!-- Idioma -->
  <div id="language" ></div>

  <!-- Menu -->
  <div id="menu"></div>
  <div id="overlay"></div>

  <!-- Migas de pan -->
  <div id="breadCrumb" class="container-fluid mb-2 clear rup-breadCrumb_root"></div>

  <!-- Contenidos -->
  <div id="container" class="m-0 m-md-3 p-4 clear"></div>

  <!-- Pie -->
  <div id="footer"></div>
</div>
