<div class="calendar-view">
    <h2>Calendario</h2>
    <p>
        Un componente de calendario que ofrece las siguientes visualizaciones:
        <ul>
            <li>Vista anual</li>
            <li>Vista mensual</li>
            <li>Vista semanal</li>
            <li>Vista del día / Agenda</li>
        </ul>
    </p>
</div>