.rup-table-filter-fieldset{
  padding-left: 5px;
  padding-right: 5px;
}

div.right_buttons > button{
  float:right;
}


.rup-table-filter{
  .collapse_icon{
    margin-top: 0;
  }
  .collapse_icon_right{
    margin-top: 0;
  }
}

.ui-jqgrid{
  border-radius: 0;


}
