@charset "UTF-8";
button, button.ui-button, .ui-button.rup-button, .rup-dropdown-btn-group .rup-dropdown-button, a.rup-toolbar_menuButton.ui-button {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  /*border-radius: 4px;*/
  cursor: pointer;
  display: inline-block;
  /*font-size: 14px;*/
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  /*padding: 6px 12px;*/
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; }

.btn, button, button.ui-button, .ui-button.rup-button, .rup-dropdown-btn-group .rup-dropdown-button, a.rup-toolbar_menuButton.ui-button {
  font-size: 1.1rem;
  padding: 6px 12px;
  border-radius: 4px; }

button, button.ui-button, .ui-button.rup-button, .rup-dropdown-btn-group .rup-dropdown-button, a.rup-toolbar_menuButton.ui-button {
  background-color: #fff;
  border-color: #ccc;
  color: #333; }

.rup-tabs_container.ui-tabs ul.ui-tabs-nav li.ui-tabs-tab a:hover, button:hover, .ui-button.rup-button:hover, .rup-dropdown-btn-group .rup-dropdown-button:hover, a.rup-toolbar_menuButton.ui-button:hover {
  background-color: #f2f2f2;
  border-color: #999999;
  color: #333; }

select.form-control, .form-control.ui-selectmenu-dropdown, select.form-control-sm, .form-control-sm.ui-selectmenu-dropdown, select, .ui-selectmenu-dropdown {
  font-size: 1rem;
  height: 2rem;
  padding: 0;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.075), inset;
  -webkit-box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.075), inset;
  box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.075), inset; }

.ui-selectmenu-menu .ui-selectmenu-menu-dropdown, .ui-datepicker:not(.ui-datepicker-inline) {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-1, .card.card-1 {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2, .card.card-2, .rup-feedback, .ui-button.rup-button.rup-button-fab {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3, .card.card-3, .ui-button.rup-button.rup-button-fab:hover {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4, .card.card-4 {
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5, .card.card-5 {
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.shadow-hover, .card.card-hover:hover {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

html {
  font-size: 12px; }

body {
  font-family: "Open Sans", sans-serif; }

.ui-widget {
  font-family: "Open Sans", sans-serif; }

/* Typhography */
h1 {
  /*font-size: 1.6rem;*/
  font-size: 2.14rem;
  font-weight: bold; }

h2 {
  /*font-size: 1.31rem;*/
  font-size: 1.75rem;
  font-weight: bold; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.3rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.85rem; }

label {
  font-size: 1rem; }

.form-control {
  height: 2rem;
  font-size: 1rem; }

.input-lg {
  font-size: 1.25rem;
  height: 2.5rem; }

.dropdown-menu {
  font-size: 1rem; }

.navbar-brand {
  font-size: 1.5rem; }

.form-control {
  font-size: 1rem; }

.form-group-sm, .form-group-sm .form-control {
  font-size: 0.875rem; }

.form-control-lg {
  font-size: 1.25rem; }

.form-group-sm, .form-group-sm .form-control {
  font-size: 0.875rem; }

.card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  position: relative; }

body {
  font-size: 1.1rem; }

label, label.label, .label {
  font-size: 1rem;
  color: #333;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 100%; }

input, textarea {
  box-shadow: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="password"],
.ui-autocomplete-input,
textarea,
.uneditable-input {
  font-size: 1rem;
  height: 2rem; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  font-size: 1rem;
  width: auto;
  margin-bottom: 0;
  border: none;
  padding: 0 0.4rem; }

.form-group-sm .form-control, .form-group-sm select.form-control, .form-group-sm .form-control.ui-selectmenu-dropdown {
  height: 25px; }

.rup-feedback.rup-feedback_image.rup-feedback_image_ok span.rup-feedback-icon, .rup-feedback.rup-feedback_image.rup-feedback_image_alert span.rup-feedback-icon, .rup-feedback.rup-feedback_image.rup-feedback_image_error span.rup-feedback-icon, .rup-feedback.rup-feedback_image div.rup-feedback_closeLink {
  height: auto;
  margin: 0 1rem 0 0;
  float: left;
  font-size: 1.5em;
  font-family: "Glyphicons Halflings"; }

.rup-feedback {
  margin: 0.8rem 0; }
  .rup-feedback.rup-feedback_image {
    background-image: none;
    padding: 1em 0.5em 1em 1.5em; }
    .rup-feedback.rup-feedback_image.rup-feedback_image_ok span.rup-feedback-icon:before {
      content: "\e013";
      color: #2D882D; }
    .rup-feedback.rup-feedback_image.rup-feedback_image_alert span.rup-feedback-icon:before {
      content: "\e209";
      color: #FF851B; }
    .rup-feedback.rup-feedback_image.rup-feedback_image_error span.rup-feedback-icon:before {
      content: "\e083";
      color: #FF4136; }
    .rup-feedback.rup-feedback_image div.rup-feedback_closeLink {
      visibility: hidden;
      float: right;
      padding-right: 0.5rem;
      margin: 0; }
      .rup-feedback.rup-feedback_image div.rup-feedback_closeLink:before {
        float: right;
        visibility: visible;
        content: "\e014";
        color: #aaa; }
      .rup-feedback.rup-feedback_image div.rup-feedback_closeLink:hover:before {
        color: #777777; }
    .rup-feedback.rup-feedback_image div:last-child {
      line-height: 2.4rem; }

.ui-button.rup-button.rup-dropdown {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: medium none; }

.ui-button.rup-button.rup-button-fab {
  border-radius: 50%;
  min-width: 5rem;
  width: 5rem;
  height: 5rem; }
  .ui-button.rup-button.rup-button-fab.rup-button-fab-sm {
    min-width: 3rem;
    width: 3rem;
    height: 3rem; }

.ui-button.rup-button span.ui-button-icon.ui-icon {
  display: inline-block; }

.rup-dropdown-btn-group .rup-dropdown-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }
  .rup-dropdown-btn-group .rup-dropdown-button.ui-button-icon-only > span.ui-button-icon {
    margin-top: -8px; }

.rup-button-fab-group {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 45px;
  right: 24px;
  align-items: center; }
  .rup-button-fab-group .rup-button-fab {
    order: 2; }
  .rup-button-fab-group:hover .rup-button-fab-list {
    display: flex;
    visibility: visible; }
    .rup-button-fab-group:hover .rup-button-fab-list .rup-button-fab {
      transform: scaleY(1) scaleX(1) translateY(0) translateX(0px); }
  .rup-button-fab-group .rup-button-fab-list {
    order: 1;
    flex-direction: column-reverse;
    padding: 0;
    display: none;
    visibility: hidden;
    transition: all .2s ease-in-out; }
    .rup-button-fab-group .rup-button-fab-list li {
      display: flex; }
    .rup-button-fab-group .rup-button-fab-list .rup-button-fab {
      transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px);
      margin: 0.5rem 0; }

.ui-selectmenu-dropdown:hover {
  text-decoration: none; }

.ui-selectmenu-dropdown span.ui-selectmenu-status {
  padding: 3px 4px; }

.ui-selectmenu-dropdown span.ui-selectmenu-icon {
  top: 4px; }

.ui-selectmenu-menu .ui-selectmenu-menu-dropdown li a {
  padding: 3px 4px; }

.context-menu-list {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  border-color: #ccc;
  font-size: 1.1rem;
  padding: 4px 4px; }

.context-menu-item {
  background-color: #fff; }

.ui-dialog .ui-dialog-titlebar.ui-widget-header {
  padding: 1px 15px;
  background-color: transparent; }
  .ui-dialog .ui-dialog-titlebar.ui-widget-header .ui-dialog-title {
    margin-top: 0px;
    margin-bottom: 0px; }
  .ui-dialog .ui-dialog-titlebar.ui-widget-header span.ui-dialog-title {
    font-size: 1.1rem; }
  .ui-dialog .ui-dialog-titlebar.ui-widget-header a.ui-dialog-title[role='button'] {
    display: none; }
  .ui-dialog .ui-dialog-titlebar.ui-widget-header .ui-dialog-titlebar-close {
    margin-right: 15px; }
    .ui-dialog .ui-dialog-titlebar.ui-widget-header .ui-dialog-titlebar-close span {
      display: inline-block; }

.ui-dialog,
.ui-dialog .ui-dialog-buttonpane {
  padding: 1px 15px; }
  .ui-dialog .ui-dialog-buttonset button.ui-button, .ui-dialog .ui-dialog-buttonset .ui-button.rup-button, .ui-dialog .rup-dropdown-btn-group .ui-dialog-buttonset .ui-button.rup-dropdown-button, .ui-dialog .ui-dialog-buttonset a.ui-button.rup-toolbar_menuButton,
  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button.ui-button,
  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.rup-button,
  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .rup-dropdown-btn-group .ui-button.rup-dropdown-button, .rup-dropdown-btn-group
  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.rup-dropdown-button,
  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset a.ui-button.rup-toolbar_menuButton {
    background-image: none;
    font-family: "Open Sans", sans-serif;
    text-shadow: none;
    border-radius: 4px;
    border-color: #adadad; }
    .ui-dialog .ui-dialog-buttonset button.ui-button:hover, .ui-dialog .ui-dialog-buttonset .ui-button.rup-button:hover, .ui-dialog .rup-dropdown-btn-group .ui-dialog-buttonset .ui-button.rup-dropdown-button:hover, .ui-dialog .ui-dialog-buttonset a.ui-button.rup-toolbar_menuButton:hover,
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button.ui-button:hover,
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.rup-button:hover,
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .rup-dropdown-btn-group .ui-button.rup-dropdown-button:hover, .rup-dropdown-btn-group
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.rup-dropdown-button:hover,
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset a.ui-button.rup-toolbar_menuButton:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
      color: #333; }

.rup-message_icon-ok, .rup-message_icon-error, .rup-message_icon-confirm, .rup-message_icon-alert {
  font-family: "Glyphicons Halflings";
  content: "î€“";
  background-image: none;
  height: auto;
  padding-top: 0.4em;
  margin-left: 0.4em;
  margin-right: 0;
  font-size: 1.5em; }

.rup-message_icon-ok::before {
  content: "\e013";
  color: #2D882D; }

.rup-message_icon-alert::before {
  content: "\e209";
  color: #FF851B; }

.rup-message_icon-error::before {
  content: "\e083";
  color: #FF4136; }

.rup-message_icon-confirm::before {
  content: "\e085";
  color: #0074D9; }

input.rup_spinner {
  font-size: 1rem; }

.rup-table-filter-fieldset {
  padding-left: 5px;
  padding-right: 5px; }

div.right_buttons > button, div.right_buttons > .ui-button.rup-button, .rup-dropdown-btn-group div.right_buttons > .rup-dropdown-button, div.right_buttons > a.rup-toolbar_menuButton.ui-button {
  float: right; }

.rup-table-filter .collapse_icon {
  margin-top: 0; }

.rup-table-filter .collapse_icon_right {
  margin-top: 0; }

.rup-tabs_container.ui-tabs {
  padding: 0; }
  .rup-tabs_container.ui-tabs .rupRandomLayerId.ui-tabs-panel {
    padding: 0 0.4rem; }
  .rup-tabs_container.ui-tabs ul.ui-tabs-nav {
    padding: 0 0 0 0.2rem; }
    .rup-tabs_container.ui-tabs ul.ui-tabs-nav li.ui-tabs-tab.ui-tabs-active {
      background: #fff; }
    .rup-tabs_container.ui-tabs ul.ui-tabs-nav li.ui-tabs-tab a {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-width: 0; }

.rup-toolbar {
  padding-top: 2px;
  padding-bottom: 2px; }

a.rup-toolbar_menuButton.ui-button span {
  display: inline-flex;
  padding-bottom: 0; }

.rup-toolbar_menuButtonContainer ul[role='menu'] {
  padding-left: 0;
  padding-bottom: 0; }
  .rup-toolbar_menuButtonContainer ul[role='menu'] button.rup-toolbar_menuButtonElement, .rup-toolbar_menuButtonContainer ul[role='menu'] .rup-toolbar_menuButtonElement.ui-button.rup-button, .rup-toolbar_menuButtonContainer ul[role='menu'] .rup-dropdown-btn-group .rup-toolbar_menuButtonElement.rup-dropdown-button, .rup-dropdown-btn-group .rup-toolbar_menuButtonContainer ul[role='menu'] .rup-toolbar_menuButtonElement.rup-dropdown-button, .rup-toolbar_menuButtonContainer ul[role='menu'] a.rup-toolbar_menuButtonElement.rup-toolbar_menuButton.ui-button {
    text-align: left; }

.rup-table-filter-fieldset {
  padding-left: 5px;
  padding-right: 5px; }

div.right_buttons > button, div.right_buttons > .ui-button.rup-button, .rup-dropdown-btn-group div.right_buttons > .rup-dropdown-button, div.right_buttons > a.rup-toolbar_menuButton.ui-button {
  float: right; }

.rup-table-filter .collapse_icon {
  margin-top: 0; }

.rup-table-filter .collapse_icon_right {
  margin-top: 0; }
