<nav class="rup-navbar navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Uda</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Componentes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#feedback">Feedback</a></li>
            <li><a href="#message">Mensaje</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#button">Bot칩n</a></li>
            <li><a href="#toolbar">Botonera</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-submenu" >
              <a href="#">Pesta침as</a>
              <ul class="dropdown-menu menu-right" >
                <li><a href="#tabsStatic">Pesta침as simples</a></li>

              </ul>

            </li>
            <li role="separator" class="divider"></li>
            <li><a href="#date">Fecha</a></li>

          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tabla <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#tableFilter">Edici칩n en formulario</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grid responsive <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#stackedHorizontal">Stacked to horizontal</a></li>
            <li><a href="#mobileDesktop">Mobile and desktop</a></li>
            <li><a href="#mobileTabletDesktop">Mobile, Tablet and desktop</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboard <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#dashboard">Dashboard</a></li>
          </ul>
        </li>
      </li>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
