<div class="dialog-view">
  <h3>Di치logo</h3>
  <p>
    Permite lanzar un subproceso o un mensaje de confirmaci칩n dentro de un proceso principal sin salirse de este. Es una evoluci칩n del patr칩n mensaje.
  </p>
</div>
