<div class="dialog-view">
  <h2>Diálogo</h2>
  <p>
    Permite lanzar un subproceso o un mensaje de confirmación dentro de un proceso principal sin salirse de este. Es una evolución del patrón mensaje.
  </p>
  <div class="rup-callout rup-callout-warning">
    <p>
      Debido a las modificaciones incluidas en la versión 1.10 de jQueryUi, no es posible invocar un diálogo directamente a partir del objeto <code>document</code>.
    </p>
    <p>
      Por lo tanto la llamada de inicialización <code>$(document).rup_dialog(...)</code> deberá de modificarse para que se realice sobre un elemento del DOM. <code>$("#idDialog").rup_dialog(...)</code>
    </p>
  </div>
</div>
