<fieldset>
	<div>
		<label for="nombre">Nombre:</label>
		<input id="nombre" name="nombre" title="Introduzca su nombre."/>
	</div>
	<br/>
	<div>
		<label for="apellido">Apellido:</label>
		<input id="apellido" name="apellido" title="Introduzca su apellido."/>
	</div>
	<br/>
	<div>
		<label for="code">Código:</label>
		<input id="code" name="code" />&nbsp;<img id="codeTooltip" alt="Imagen Tooltip" src="../css/images/rup.confirm.png" />
	</div>
	<br/>
	<div>
		<label for="identificador">Identificador:</label>
		<input id="identificador" name="identificador" />&nbsp;<img id="idTooltip" alt="Imagen Tooltip" src="../css/images/rup.confirm.png" />
	</div>
	<br/>
	<div>
		<label for="htmlTooltip">HTML:</label>
		<input id="htmlTooltip" name="htmlTooltip" />&nbsp;<img id="idHtmlTooltip" alt="Imagen Tooltip" src="../css/images/rup.confirm.png" />
	</div>
	<br/>
	<input id="button" type="button" value="Aplicar ThemeRoller" />
</fieldset>
