<div id="contenedor">

  <div class="guide-typography">
    <h1>h1. Encabezado</h1><span></span>
    <h2>h2. Encabezado</h2>
    <h3>h3. Encabezado</h3>
    <h4>h4. Encabezado</h4>
    <h5>h5. Encabezado</h5>
    <h6>h6. Encabezado</h6>
  </div>

</div>
