
	<ul id="x21aResponsiveWar_menu"	class="rup_invisible_menu">
		<li>
			<a href="/demo/index.html" >
				Inicio
				<span class="ui-icon home_icon"></span>
			</a>
		</li>
		<li>
			<a>
				Patrones
				<span class="ui-icon patrones_icon"></span>
			</a>
			<ul>
				<li>
					<a href="/x21aResponsiveWar/patrones/all">
						[Todos los patrones]
					</a>
				</li>
				<li class="ui-widget-content ui-menu-divider"></li>
				<li><strong>Notificaciones</strong></li>
				<li>
					<a href="#feedback">
						Feedback
						<span class="ui-icon feedback_icon"></span>
					</a>
				</li>
				<li>
					<a href="#tooltip">
						Tooltip
						<span class="ui-icon tooltip_icon"></span>
					</a>
				</li>
				<li>
					<a href="#message">
						Mensajes
						<span class="ui-icon message_icon"></span>
					</a>
				</li>
				<li>
					<a href="#dialog">
						Diálogos
						<span class="ui-icon dialog_icon"></span>
					</a>
				</li>
				<li>
					<a href="#progressbar">
						Barra de progreso
						<span class="ui-icon dialog_icon"></span>
					</a>
				</li>
				<li class="ui-widget-content ui-menu-divider"></li>
				<li><strong>Navegación</strong></li>
				<li>
					<a>
						Menú
						<span class="ui-icon menu_icon"></span>
					</a>
					<ul>
						<li>
							<a href="#menuHorizontal">
								Horizontal
							</a>
						</li>
						<li>
							<a href="#menuVertical">
								Vertical
							</a>
						</li>
						<li>
							<a	href="#menuMixto">
								Mixto
							</a>
						</li>
						<li>
							<a href="#navMenu">
								Con Navegación
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#contextMenu">
						Menú contextual
						<span class="ui-icon contextMenu_icon"></span>
					</a>
				</li>
				<li>
					<a href="#toolbar">
						Botonera
						<span class="ui-icon toolbar_icon"></span>
					</a>
				</li>
				<li>
					<a href="#button">
						Botón
						<span class="ui-icon toolbar_icon"></span>
					</a>
				</li>
				<li class="ui-widget-content ui-menu-divider"></li>
				<li><strong>Estructuración de pantalla</strong></li>
				<li>
					<a href="#accordion">
						Accordion
						<span class="ui-icon accordion_icon"></span>
					</a>
				</li>
				<li>
					<a>
						Pestañas
						<span class="ui-icon tab_icon"></span>
					</a>
					<ul>
						<li>
							<a href="#tabsStatic">
								Pestañas carga estática
							</a>
						</li>
						<li>
							<a	href="#tabsAjax">
								Pestañas carga Ajax
							</a>
						</li>
						<li>
							<a	href="#tabsMixto">
								Pestañas carga mixta
							</a>
						</li>
						<li>
							<a href="/x21aResponsiveWar/patrones/maintTab">
								Pestañas con mantenimientos
							</a>
						</li>
						<li>
							<a href="#tabsScrollable">
								Pestañas con navegación
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/x21aResponsiveWar/patrones/grid">
						Tabla
						<span class="ui-icon grid_icon"></span>
					</a>
					<span class="ui-icon old_icon"></span>
<!-- 					<ul> -->
<!-- 						<li> -->
<!-- 							<a	href="/x21aResponsiveWar/patrones/gridGroup"> -->

<!-- 							</a> -->
<!-- 						</li> -->
<!-- 						<li> -->
<!-- 							<a	href="/x21aResponsiveWar/patrones/grid"> -->

<!-- 							</a> -->
<!-- 						</li> -->
<!-- 						<li> -->
<!-- 							<a href="/x21aResponsiveWar/patrones/gridTree"> -->

<!-- 							</a> -->
<!-- 						</li> -->
<!-- 					</ul> -->
				</li>
				<li>
					<a>
						Wizard
						<span class="ui-icon wizard_icon"></span>
					</a>
					<ul>
						<li>
							<a	href="#wizard">
								Wizard simple
							</a>
						</li>
						<li>
							<a	href="#wizardDinamico">
								Wizard dinámico
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a>
						Árbol
						<span class="ui-icon tree_icon"></span>
					</a>
					<ul>
						<li>
							<a	href="/x21aResponsiveWar/patrones/trees">
								Árboles con diferentes configuraciones
							</a>
						</li>
<!-- 						<li> -->
<!-- 							<a href="/x21aResponsiveWar/patrones/trees"> -->

<!-- 							</a> -->
<!-- 						</li> -->
						<li>
							<a href="/x21aResponsiveWar/patrones/treeDAD">
								Árboles con interaccion mediante Drag & Drop
							</a>
						</li>
<!-- 						<li> -->
<!-- 							<a href="/x21aResponsiveWar/patrones/trees"> -->

<!-- 							</a> -->
<!-- 						</li> -->
					</ul>
				</li>
				<li class="ui-widget-content ui-menu-divider"></li>
				<li><strong>Inserción de datos</strong></li>
				<li>
					<a href="#autocomplete">
						Autocomplete
						<span class="ui-icon autocomplete_icon"></span>
					</a>
				</li>
				<li>
					<a>
						Combo
						<span class="ui-icon combo_icon"></span>
					</a>
					<ul>
						<li>
							<a href="#comboSimple">
								Combo Simple
							</a>
						</li>
						<li>
							<a href="#comboEnlazadoSimple">
								Combo Enlazado (simple)
							</a>
						</li>
						<li>
							<a href="#comboEnlazadoMultiple">
								Combo Enlazado (múltiple)
							</a>
						</li>
						<li>
							<a href="#comboMultiseleccion">
								Combo Multiselección
							</a>
						</li>
					</ul>
				</li>
        <li>
					<a href="#slider">
						Deslizador
						<span class="ui-icon date_icon"></span>
					</a>
				</li>
				<li>
					<a href="#date">
						Fecha
						<span class="ui-icon date_icon"></span>
					</a>
				</li>
				<li>
					<a href="#form">
						Formulario
						<span class="ui-icon form_icon"></span>
					</a>
				</li>
				<li>
					<a href="#time">
						Hora
						<span class="ui-icon time_icon"></span>
					</a>
				</li>
				<li>
					<a href="#slider">
						Slider
						<span class="ui-icon date_icon"></span>
					</a>
				</li>
        <li>
					<a href="#spinner">
						Spinner
						<span class="ui-icon date_icon"></span>
					</a>
				</li>
				<li>
					<a href="#upload">
						Upload
						<span class="ui-icon upload_icon"></span>
					</a>
				</li>
				<li>
					<a href="#validate">
						Validación
						<span class="ui-icon validate_icon"></span>
					</a>
				</li>
				<li class="ui-widget-content ui-menu-divider"></li>
				<li><strong>Representación de datos</strong></li>
				<li>
					<a href="#chart">
						Gráficos
						<span class="ui-icon chart_icon"></span>
					</a>
				</li>
			</ul>
		</li>

		<li>
            <a>Tabla</a>
            <ul>

                <li>
                    <a href="#tableFilter">Filtro Simple</a>
                </li>

                <li>
                    <a>
                        Jerarqu&iacute;a
                    </a>
                    <ul>
                        <li>
                            <a href="/x21aMantenimientosWar/table/jerarquia">
                               Normal
                            </a>
                        </li>
                        <li>
                            <a href="/x21aMantenimientosWar/table/jerarquiaMulti">
                                Multiselecci&oacute;n
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/x21aMantenimientosWar/table/formEditAutogenerated">
                        Edici&oacute;n en formulario (Autogenerado)
                    </a>
                </li>
                <li>
                    <a href="/x21aMantenimientosWar/table/formEdit">
                         Edici&oacute;n en formulario
                    </a>
                </li>
                <li>
                    <a href="/x21aMantenimientosWar/table/formEditMultiselection">
                        Edici&oacute;n en formulario con multiselecci&oacute;n
                    </a>
                </li>
                <li>
                    <a href="/x21aMantenimientosWar/table/inlineEditExcelMode">
                        Edici&oacute;n en línea (Modo Excel)
                    </a>
                </li>
                <li>
                    <a href="/x21aMantenimientosWar/table/inlineEdit">
                        Edici&oacute;n en línea
                    </a>
                </li>
                <li>
                    <a href="/x21aMantenimientosWar/table/inlineEditMultiselection">
                        Edici&oacute;n en línea con multiselecci&oacute;n
                    </a>
                </li>
                <li>
                    <a href="/x21aMantenimientosWar/table/grouping">
                        Tabla con agrupamiento
                    </a>
                </li>
                <li>
                    <a href="/x21aMantenimientosWar/table/masterDetail">
                        Maestro - detalle
                    </a>
                </li>
                    <li>
                    <a href="/x21aMantenimientosWar/table/tableLoadOnStartUp">
                        LoadOnStartUp =false
                    </a>
                </li>
                <li>
                    <a href="/x21aMantenimientosWar/table/dialog">
                        Tabla en di&aacute;logo
                    </a>
                </li>
                    <li>
                    <a href="/x21aMantenimientosWar/table/tableRadiobutton">
                        tableRadioButton
                    </a>
                </li>
            </ul>
        </li>

		<li>
			<a	href="http://code.google.com/p/uda/" target="_blank">
				UDA
				<span class="ui-icon uda_icon"></span>
			</a>
		</li>
	</ul>
