<nav class="rup-navbar navbar">

	<button type="button" class="navbar-toggler hidden-lg-up navbar-toggle "  type="button" data-toggle="rup-collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>

	<div id="navbarResponsive" class="collapse navbar-toggleable-md">
	    <a class="navbar-brand" href="#">Uda</a>
	    <ul class="nav navbar-nav">
	      <li class="nav-item dropdown">
	        <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Componentes <span class="caret"></span></a> -->
	        <a class="nav-link dropdown-toggle" href="#" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Componentes</a>
	        <div class="collapse dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
	            <a class="dropdown-item" href="#feedback"><i class="mdi mdi-checkbox-marked-outline" aria-hidden="true"></i>Feedback</a>
	            <a class="dropdown-item" href="#tooltip"><i class="mdi mdi-comment-outline" aria-hidden="true"></i>Tooltip</a>
	            <a class="dropdown-item" href="#message"><i class="mdi mdi-email" aria-hidden="true"></i>Mensaje</a>
	            <a class="dropdown-item" href="#dialog"><i class="mdi mdi-window-restore" aria-hidden="true"></i>Diálogo</a>
	            <a class="dropdown-item" href="#progressbar">Barra de progreso</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="#contextMenu">Menú contextual</a>
	            <a class="dropdown-item" href="#button">Botón</a>
	            <a class="dropdown-item" href="#toolbar">Botonera</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="#accordion">Accordion</a>
	
	            <div class="dropdown-submenu" >
	              <a class="dropdown-item dropdown-toggle" href="#">Pestañas</a>
	              <div class="dropdown-menu menu-right" >
	                <a class="dropdown-item" href="#tabsStatic">Pestañas simples</a>
	              </div>
	
	            </div>
	            <div class="dropdown-submenu" >
	              <a class="dropdown-item dropdown-toggle" href="#">Wizard</a>
	              <div class="dropdown-menu menu-right" >
	                <a class="dropdown-item" href="#wizardSimple">Wizard simple</a>
	                <a class="dropdown-item" href="#wizardDynamic">Wizard dinámico</a>
	              </div>
	            </div>
	
	            <div class="dropdown-submenu" >
	              <a class="dropdown-item dropdown-toggle" href="#">Arbol</a>
	              <div class="dropdown-menu menu-right" >
	                <a class="dropdown-item" href="#treeExamples">Árboles con diferentes configuraciones</a>
	                <a class="dropdown-item" href="#treeDragDrop">Árbol con interacción Drag and Drop</a>
	              </div>
	            </div>
	
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="#autocomplete">Autocomplete</a>
	
	            <div class="dropdown-submenu" >
	              <a class="dropdown-item dropdown-toggle" href="#">Combo</a>
	              <div class="dropdown-menu menu-right" >
	                <a class="dropdown-item" href="#comboSimple">Combo simple</a>
	              </div>
	            </div>
	
	            <a class="dropdown-item" href="#slider">Deslizador</a>
	            <a class="dropdown-item" href="#date">Fecha</a>
	            <a class="dropdown-item" href="#form">Formulario</a>
	            <a class="dropdown-item" href="#time">Hora</a>
	            <a class="dropdown-item" href="#spinner">Spinner</a>
	            <a class="dropdown-item" href="#upload">Upload</a>
	            <a class="dropdown-item" href="#validate">Validación</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="#chart"><i class="mdi mdi-chart-bar" aria-hidden="true"></i>Gráficos</a>
	        </div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#calendar"><i class="mdi mdi-calendar-month pe-2"></i>Calendario</a>
	      </li>
          <li class="nav-item dropdown">
              <a href="" class="nav-link dropdown-toggle" id="listDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-view-sequential pe-2"></i>Lista</a>
              <div class="collapse dropdown-menu" aria-labelledby="listDropdown">
                  <a class="dropdown-item" href="#list" >Lista simple</a>
                  <a class="dropdown-item" href="#listDoble">Lista doble</a>
                  <a class="dropdown-item" href="#listDialog">Lista dialogo</a>
              </div>
          </li>
	      {{!-- <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="tableDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tabla</a>
	        <div class="collapse dropdown-menu" aria-labelledby="tableDropdown">
	          <a class="dropdown-item" href="#tableFilter">Edición en formulario</a>
	        </div>
	      </li> --}}
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="tableDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tabla</a>
	        <div class="collapse dropdown-menu" aria-labelledby="tableDropdown">
	          <a class="dropdown-item" href="#tableEditInline">Edición en linea</a>
	          <a class="dropdown-item" href="#tableEditForm">Edición en formulario</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="gridResponsiveDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Grid responsive</a>
	        <div class="collapse dropdown-menu" aria-labelledby="gridResponsiveDropdown">
	          <a class="dropdown-item" href="#stackedHorizontal">Stacked to horizontal</a>
	          <a class="dropdown-item" href="#mobileDesktop">Mobile and desktop</a>
	          <a class="dropdown-item" href="#mobileTabletDesktop">Mobile, Tablet and desktop</a>
	        </div>
	      </li>
	      <!-- <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="dashboardDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
	        <div class="collapse dropdown-menu" aria-labelledby="dashboardDropdown">
	          <a class="dropdown-item" href="#dashboard">Dashboard</a>
	        </div>
	      </li> -->
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="styleGuideDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Guía de estilos</a>
	        <div class="collapse dropdown-menu" aria-labelledby="styleGuideDropdown">
	          <a class="dropdown-item" href="#styleGuide">Guía de estilos</a>
	          <a class="dropdown-item" href="#bt4StyleGuide">Bootstrap 4</a>
	        </div>
	      </li> 
	    </ul>
	    <ul class="nav navbar-nav float-md-right rup-nav-tools">
	      <li class="nav-item">
	        <a class="nav-link rup-nav-tool-icon" href="#" id="languageDropdown">
	        	<i class="mdi mdi-earth" aria-hidden="true"></i>
	        	<span data-rup-lang-current=""></span>
	        </a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link rup-nav-tool-icon dropdown-toggle" id="demoStylesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-settings " aria-hidden="true"></i></a>
	        <div class="collapse dropdown-menu" aria-labelledby="demoStylesDropdown">
	          <a class="dropdown-item" id="navLinkBt4" data-redirect-navLink="index.html" href="#">Bootstrap 4</a>
	          <a class="dropdown-item" id="navLinkJQui" data-redirect-navLink="index-jqueryui.html"href="#">JQueryUI</a>
	        </div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link rup-nav-user rup-nav-tool-icon" href="#">
	        	<i class="mdi mdi-account-circle " aria-hidden="true"></i>
	        </a>
	      </li>
	      <li class="nav-item swingTop">
	        <a class="nav-link rup-nav-user rup-nav-tool-icon" href="javascript:void(0)">
	        	<i class="mdi mdi-arrow-up-circle " aria-hidden="true"></i>
	        </a>
	      </li>
		</ul>
	</div><!--/.navbar-collapse -->
</nav>
