<div class="slider-view">
  <h3>Hora</h3>
  <p>
    El usuario puede introducir y seleccionar una hora tanto de forma manual como visual, moviéndose fácilmente por las horas y los minutos, recibiendo ayudas y sugerencias para minimizar las posibilidades de introducir una hora incorrecta.
  </p>
</div>
