<div class="container-fluid">
  <section>
    <div id="listMainBody">
    </div>
    <div id="listTest">
    </div>
  </section>

  <section>
    <h4>Código</h4>

    <div id="listCode">

    </div>
  </section>
</div>
