<button id="{{id}}"
  class="btn-material btn-material-primary-high-emphasis rup-toolbar_menuButton rup-toolbar_menuButtonSlided"
  role="button"
  href="#">
  	{{label}}
  	<span class="mdi {{iconClasses}}" aria-hidden="true"></span>
</button>
