<div id="table_pager" class="ui-state-default ui-jqgrid-pager ui-corner-bottom" dir="ltr" style="width: 100%; height: auto;">
  <div id="pg_table_pager" class="ui-pager-control" role="group">
    <table cellspacing="0" cellpadding="0" border="0" class="ui-pg-table" style="width:100%;table-layout:fixed;height:100%;" role="row">
      <tbody>
        <tr>
          <td id="table_pager_left" align="left" class="pager_left"></td>
          <td id="table_pager_center" align="center" style="white-space: pre; width: 305px;" class="pager_center">
            <table cellspacing="0" cellpadding="0" border="0" style="table-layout:auto;" class="ui-pg-table">
              <tbody>
                <tr>
                  <td id="first_table_pager" class="ui-corner-all pagControls ui-state-disabled">
                    <a href="javascript:void(0)" class="linkPaginacion">Primera Página</a>
                  </td>
                  <td id="prev_table_pager" class="ui-corner-all pagControls ui-state-disabled">
                    <a href="javascript:void(0)" class="linkPaginacion">Anterior</a>
                  </td>
                  <td class="ui-pg-button ui-state-disabled pagControls" style="width:4px;">
                    <span class="ui-separator"></span>
                  </td>
                  <td dir="ltr" class="pagControls">
                    Página
                    <input class="ui-pg-input" type="text" size="2" maxlength="7" value="0" role="textbox" data-hasqtip="1" oldtitle="Página actual" title="" aria-describedby="qtip-1"> de <span id="sp_1_table_pager">100</span>
                  </td>
                  <td class="ui-pg-button ui-state-disabled pagControls" style="width:4px;">
                    <span class="ui-separator"></span>
                  </td>
                  <td id="next_table_pager" class="ui-corner-all pagControls">
                    <a href="javascript:void(0)" class="linkPaginacion">Siguiente</a>
                  </td>
                  <td id="last_table_pager" class="ui-corner-all pagControls">
                    <a href="javascript:void(0)" class="linkPaginacion">Última Página</a>
                  </td>
                  <td dir="ltr" class="pagControls">
                    <select class="ui-pg-selbox" role="listbox" data-hasqtip="0" oldtitle="Número de elementos por página" title="" aria-describedby="qtip-0">
                      <option role="option" value="10" selected="selected">10</option>
                      <option role="option" value="20">20</option>
                      <option role="option" value="30">30</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td id="table_pager_right" align="right" class="pager_right">
            <div dir="ltr" style="text-align:right" class="ui-paging-info">Mostrando 1 - 10 de 1.000</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
