
<button type="button" id="{{id}}" class="btn-material btn-material-primary-high-emphasis rup-button">
	<i class="{{css}}" aria-hidden="true"></i>
    <span class="rup-ui-button-text">{{label}}</span>
</button>
