<a id="{{id}}"
  class="rup-toolbar_menuButton ui-button ui-corner-all ui-widget rup-toolbar_menuButtonSlided"
  role="button"
  href="#">
  {{label}}
  <span class="ui-button-icon-space"></span>
  <span class="{{iconClasses}}" aria-hidden="true"></span>
</a>
