<form>
    <div class="form-group">
        <label for="{{fieldId}}" class="control-label">{{fieldLabel}}</label>
        <input type="text" class="form-control" id="{{fieldId}}" placeholder="{{fieldPlaceholder}}">
    </div>
    <div class="form-group">
        <button type="button" class="btn-material btn-material-primary-high-emphasis">
            <span class="mdi mdi-magnify"></span>
            Consultar</button>
        <button type="button" class="btn-material btn-material-primary-high-emphasis">
            <span class="mdi mdi-settings"></span>
            Tramitar</button>
    </div>
</form> 
