<button id="{{id}}" type="button" class="rup-toolbar_button">
    <span class="ui-button-icon ui-icon {{css}}"></span>
    <span class="ui-button-icon-space"> </span>
    <span class="rup-ui-button-text">{{label}}</span>
</button>
