<div id="{{id}}" class="{{classes}}">
  <ul role="menu" aria-activedescendant="active-menuitem" aria-labelledby="active-menuitem">
    <li style="display: block;">
      <button type="button" class="btn-material btn-material-primary-high-emphasis rup-toolbar_button rup-button rup-toolbar_menuButtonElement" id="toolbar##mbuton1##nuevo">
        <span class="mdi mdi-plus"></span>
        <span class="rup-ui-button-text">
        	{{i18n "rup_button.new"}}
        </span>
      </button>
    </li>
  </ul>
</div>
