<div class="container-fluid">
  <section>
    <div id="listDobleMainBody">
    </div>
    <div id="listDobleTest">
    </div>
  </section>

  <section>
    <h4>Código</h4>

    <div id="listDobleCode">

    </div>
  </section>
</div>
