<div>
    <h3>Componente rup_list (Dos listados) </h3>
    <p> 
            Este componente muestra elementos de backend en un formato de tarjetas con un
        template definido por el desarrollador. Aquí se presentan dos listados en la misma pantalla.
    </p>
</div>