<div class="contextMenu-view">
  <h3>Autocomplete</h3>
  <p>
    En cuanto el usuario comienza a escribir una búsqueda se le sugieren búsquedas relacionadas con lo que ha escrito que pueden ser de su interés.
  </p>
</div>
