<!-- <div id="dialogo"> -->
<h3>Autocomplete local</h3>
<label for="autocomplete">Lenguaje:</label><input id="autocomplete" name="autocomplete" />
[asp, c, c++, coldfusion, groovy, haskell, java, javascript, perl, php, python, ruby, scala]
<br/>
<!-- </div> -->

<h3>Autocomplete remoto</h3>
<label for="patron">Departamento-Provincia:</label><input id="patron" name="patron" /> [Castellano: " de " // Euskara: arab, gipuz, bilb]
<br/>


<h3>Combobox local</h3>
<label for="comboboxLocal">Lenguaje:</label><input id="comboboxLocal" name="comboboxLocal" /> [asp, c, c++, coldfusion, groovy, haskell, java, javascript, perl, php, python, ruby, scala]


<h3>Combobox remoto</h3>
<label for="comboboxRemoto">Departamento-Provincia:</label><input id="comboboxRemoto" name="comboboxRemoto" /> [Castellano: " de " // Euskara: arab, gipuz, bilb]
<br/>
