<h2>Context Menu</h2>

<div id="contextMenu" class="contextMenu-box">Right click + Opciones desabilitadas</div><br>
<div class="contextMenu-left contextMenu-box">Left click + Atajos de teclado</div><br>
<div id="contextMenu-hover" class="contextMenu-box">Hover + submenus</div><br>
<div class="contextMenu-other contextMenu-box">Abrir desde otro elemento + bajo demanda
	<button type="button" id="activate-menu">click me</button>
</div><br>
