<div>
    <form id="list1FilterForm">
        <fieldset>
            <div class="row pb-2">
                <div class="col-md-1"/>
                <div class="col-md-4">
                    <div class="row">
                        <label for="list1FilterUsuario">Usuario:</label>
                        <div class="col-md-1"/>
                        <input id="list1FilterUsuario" type="text" name="usuario" class="col-md-9">
                    </div>
                </div>
                <div class="col-md-2"/>
                <div class="col-md-4">
                    <div class="row">
                        <label for="list1FilterEmail">Email:</label>
                        <div class="col-md-1"/>
                        <input id="list1FilterEmail" type="email" name="email" class="col-md-9">
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-1"/>
                <div class="col-md-4">
                    <div class="row">
                        <label for="list1FilterEdad">Edad:</label>
                        <div class="col-md-1"/>
                        <input id="list1FilterEdad" type="number" name="edad" class="col-md-9">
                    </div>
                </div>
                <div class="col-md-2"/>
                <div class="col-md-4">
                    <div class="row">
                        <label for="list1FilterCodCliente">Codigo cliente:</label>
                        <div class="col-md-1"/>
                        <input id="list1FilterCodCliente" type="number" name="codCliente" class="col-md-8">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"/>
                <button id="list1FilterAceptar" class="mdi mdi-filter col-md-2"> Filtrar </button>
                <div class="col-md-1"/>
                <button id="list1FilterLimpiar" class="mdi mdi-broom col-md-2"> Limpiar </button>
            </div>
        </fieldset>
    </form>
</div>