<div class="ui-dialog-buttonset">
    <button id="table_detail_button_save" type="button">
        <spring:message code="save" />
    </button>
    <button id="table_detail_button_save_repeat" type="button">
        <spring:message code="saveAndContinue" />
    </button>
    <a href="javascript:void(0)" role="button" id="table_detail_link_cancel"
        class="rup-enlaceCancelar"><spring:message code="cancel" /></a>
</div>