<div class="fluid-container">

  <div class="row">

    <div class="col-md-2 col-md-offset-1">
      <button id="btnError" class="message-button btn-block">Mostrar Error</button>
    </div>
    <div class="col-md-2">
      <button id="btnConfirm" class="message-button btn-block">Mostrar Confirmacion</button>
    </div>
    <div class="col-md-2">
      <button id="btnOK" class="message-button btn-block">Mostrar Ok</button>
    </div>
    <div class="col-md-2">
      <button id="btnAlert" class="message-button btn-block">Mostrar Alert</button>
    </div>
    <div class="col-md-2">
      <button id="btnAlertJS" class="message-button btn-block">Mostrar Alert Javascript</button>
    </div>
  </div>
</div>
