<h2>Mensaje</h2>
<button id="btnError">Mostrar Error</button>
<button id="btnConfirm">Mostrar Confirmacion</button>
<button id="btnOK">Mostrar Ok</button>
<button id="btnAlert">Mostrar Alert</button>
<button id="btnAlertJS">Mostrar Alert de Javascript</button>
