<div class="button-view">
  <h3>Fecha</h3>
  <p>
Permite al usuario introducir y seleccionar una fecha, tanto de forma manual como visual, moviéndose fácilmente por días, meses y años. Además, para minimizar las posibilidades de introducir una fecha
incorrecta, ofrece al usuario ayudas y sugerencias de formato.

Además, este sistema permite la introducción de fechas independiente de dispositivo y flexible, ya quetanto los usuarios avanzados como los novatos podrán utilizarlo sin problemas.
  </p>
</div>
