<div class="feedback-view container-fluid">
  <section>
		<h2>Filtro simple</h2> <!-- Titulo pagina -->

		<div id="table_div" class="rup-table-container">
			<div id="table_feedback"></div>
			<div id="table_toolbar"></div>
			<div id="table_filter_div" class="rup-table-filter">
				{{> _filterForm}}
			</div>

			<div id="table_grid_div">
				<!-- Tabla -->
				<table id="table"></table>
				<!-- Barra de paginación -->
				<div id="table_pager"></div>
			</div>
		</div>

		<div id="table_detail_div" class="rup-table-formEdit-detail">
			<div id ="table_detail_navigation"></div>
			<div class="ui-dialog-content ui-widget-content" >
		        {{> _detailForm}}
		    </div>
			<div class="rup-table-buttonpane ui-widget-content ui-helper-clearfix">
		        {{> _detailButtonSet}}
		    </div>
		</div>
  </section>
</div>
