<div class="contextMenu-view">
  <h3>Barra de progreso</h3>
  <p>
    Elemento de las interfaces gráficas que permite mostrar de forma gráfica el estado de avance de una tarea o proceso. 
  </p>
</div>
