<div class="feedback-view container-fluid">
  <section>
    <h2>Mensaje</h2>
    <p>
      Tiene como objetivo mostrar al usuario de forma homogénea, clara y llamativa, los posibles mensajes que pueden desencadenar las acciones en la aplicación. Estos mensajes predefinidos pueden ser de diferente tipología: error, confirmación, aviso o alerta
    </p>

    <div id="exampleMessage"></div>
    <pre>
      <code class="html">
        <button id="btnOK" class="message-button">Mostrar Ok</button>
      </code>
    </pre>
    <pre>
      <code class="javascript">
        $.rup_messages("msgOK", {
          title: "Correcto",
          message: "Todo ha ido OK."
        });
      </code>
    </pre>
  </section>

  <section>
    <h2>Pruebalo!</h2>
    <button id="btnError" class="message-button">Mostrar Error</button>
    <button id="btnConfirm" class="message-button">Mostrar Confirmacion</button>
    <button id="btnOK" class="message-button">Mostrar Ok</button>
    <button id="btnAlert" class="message-button">Mostrar Alert</button>
    <button id="btnAlertJS" class="message-button">Mostrar Alert de Javascript</button>
  </section>
</div>
