<button id="btnError" class="message-button">Mostrar Error</button>
<button id="btnConfirm" class="message-button">Mostrar Confirmacion</button>
<button id="btnOK" class="message-button">Mostrar Ok</button>
<button id="btnAlert" class="message-button">Mostrar Alert</button>
<button id="btnAlertJS" class="message-button">Mostrar Alert de Javascript</button>
