<div class="feedback-view">
  <section>
    <h2>Feedback</h2>
    <p>
      Informa al usuario de c贸mo interactuar con los elementos de la aplicaci贸n y del resultado de cualquier acci贸n que realice o cualquier problema que tenga y de c贸mo solucionarlo.
    </p>
    <section>
      <h3>Ejemplos</h3>
      <div id="feedbackOk" role="alert"></div>
      <div id="feedbackAlert" role="alert"></div>
      <div id="feedbackError"role="alert"></div>
    </section>
  </section>
</div>
