<section>
   <h2>Feedback</h2>
<hr/>
Texto pre capa
<div id="feedback"></div>
Texto post capa<br/>
<hr/>
<div>
	Valores feedback:
		<label for="feedback_type">type:</label>
		<select id="feedback_type" >
			<option value="">---</option>
			<option value="ok" selected="selected">ok</option>
			<option value="alert">alert</option>
			<option value="error">error</option>
		</select>
	<br><br>

	<label for="feedback_imgClass">imgClass:</label>
	<input id="feedback_imgClass" type="text" /> (feedbackImgPruebas)
	<br><br>

	<label for="feedback_delay">delay (ms):</label>
	<input id="feedback_delay" type="text" />
	<br><br>

	<label for="feedback_fadeSpeed">fadeSpeed (ms):</label>
	<input id="feedback_fadeSpeed" type="text" />
	<br><br>

	<label for="feedback_gotoTop">gotoTop:</label>
	<select id="feedback_gotoTop">
		<option value="true">true</option>
		<option value="false">false</option>
	</select>
	<br><br>

	<label for="feedback_block">block:</label>
	<select id="feedback_block">
		<option value="true">true</option>
		<option value="false">false</option>
	</select>
	<br><br>

	<label for="feedback_closeLink">closeLink:</label>
	<select id="feedback_closeLink">
		<option value="true">true</option>
		<option value="false">false</option>
	</select>
	<br><br>
</div>

<input id="boton_create" type="button" value="_Create" />
<input id="boton_destroy" type="button" value="Destroy" disabled="disabled" />
<input id="boton_set" type="button" value="Set" />
<input id="boton_setOptions" type="button" value="Set_options" />
<input id="boton_setType" type="button" value="Set_type" />
<input id="boton_setImgClass" type="button" value="Set_imgClass" />
<input id="boton_hide" type="button"  value="Hide" />
<input id="boton_close" type="button" value="Close" />
<input id="boton_show" type="button" value="Show" />
</section>
