<p>Bot칩n b치sico</p>
<div class="example">
	<button type="button" id="boton">Acci&oacute;n</button>
</div>

<p>Bot칩n con desplegable</p>
<div class="example">
	<button type="button" id="dropdownHtmlListButton">Lista HTML</button>
	<ul id="dropdownHtmlList" class="rup-dropdown-option-list">
		<li><a href="#" id="dropdownElem1">Elemento 1</a></li>
		<li><a href="#" id="dropdownElem2">Elemento 2</a></li>
		<li><a href="#" id="dropdownElem3">Elemento 3</a></li>
		<li class="divider"></li>
		<li><a href="#" id="dropdownElem4">Elemento 4</a></li>
	</ul>


	<button type="button" id="dropdownDialogButton">Dialogo</button>
	<div id="dropdownDialog" style="width:380px;">
		<form>
			<fieldset class="dropdownButton-inputs">
				<div class="formulario_columna_cnt">
					<div class="formulario_linea_izda_float">
						<label for="dropdownButton-combo">Filtros</label>
						<input id="dropdownButton-combo" />
					</div>
					<div class="formulario_linea_izda_float">
						<input type="checkbox" id="dropdownButton-defaultFilter"/>
						<label for="dropdownButton-defaultFilter">Filtro por defecto</label>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<p>Bot칩n FAB (Floating Action Button)</p>
<div class="example">
	<button type="button" id="fabButton" data-fab="true"><span class="glyphicon glyphicon-cog" /></button>
	<button type="button" id="fabButtonLayer" data-fab="true"><span class="glyphicon glyphicon-cog" /></button>

	<button type="button" id="fabButtonFixed" data-fab="true" data-fixed="true" data-list="fabButtonFixedList"><span class="glyphicon glyphicon-cog" /></button>
	<ul id="fabButtonFixedList">
		<li><button type="button" id="fabButtonList1" data-fab="true" ><span class="glyphicon glyphicon-plus" /></button></li>
		<li><button type="button" id="fabButtonList2" data-fab="true" ><span class="glyphicon glyphicon-pencil" /></button></li>
		<li><button type="button" id="fabButtonList3" data-fab="true" ><span class="glyphicon glyphicon-trash" /></button></li>
	</ul>

</div>
