<button type="button" id="boton">Acci&oacute;n</button>

<button type="button" id="dropdownHtmlListButton">Lista HTML</button>
<ul id="dropdownHtmlList" class="rup-dropdown-option-list">
	<li><a href="#" id="dropdownElem1">Elemento 1</a></li>
	<!-- Resto de elementos -->
</ul>

<button type="button" id="dropdownDialogButton">Dialogo</button>

<div id="dropdownDialog" style="width:380px;">
		<fieldset class="dropdownButton-inputs">
			<!-- Contenido del div -->
		</fieldset>
</div>
