<footer>
	<div class="footer-row-content d-flex p-2">
		<div class="col-sm-6 text-start">
			<span class="text-white">
        >> Información legal
      </span>
		</div>
		<div class="col-sm-6 text-end">
			<span class="text-white">
				© 2020 · Eusko Jaurlaritza - Gobierno Vasco
			</span>
		</div>
	</div>
	<div class="d-flex justify-content-center align-items-center">
		<img class="img-fluid position-absolute" src="images/web01-2014_claim_pertsona_helburu_es.gif" />
		<img class="img-fluid w-100" src="images/web01-2014_oina_logo_atzekoa.gif" />
	</div>
</footer>
