<footer>
	<div class="footer-row-content d-flex p-2">
		<div class="col-sm-6 text-left">
			<span class="text-white">
        >> Información legal
      </span>
		</div>
		<div class="col-sm-6 text-right">
			<span class="text-white">
				© 2020 · Eusko Jaurlaritza - Gobierno Vasco
			</span>
		</div>
	</div>
	<div class="footer-row-base p-5">
		<img class="img-fluid mx-auto d-block" src="images/web01-2014_claim_pertsona_helburu_es.gif" />
	</div>
</footer>
