<link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet" type="text/css" />


<div id="contenedor">
  <section>
    <div class="row"id="bt3Container">
    
    </div>
  </section>
</div>
