<!-- 
 -- Copyright 2011 E.J.I.E., S.A.
 --
 -- Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la «Licencia»);
 -- Solo podrá usarse esta obra si se respeta la Licencia.
 -- Puede obtenerse una copia de la Licencia en
 --
 --      http://ec.europa.eu/idabc/eupl.html
 --
 -- Salvo cuando lo exija la legislación aplicable o se acuerde por escrito, 
 -- el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL»,
 -- SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 -- Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 -- que establece la Licencia.
 -->

<div>
<p>
<b>Los servidores se apagar&aacute;n de 13.00 a 15:00</b> para realizar tareas de mantenimiento:
</p>
<ul style="margin-left:30px;">
<li>
Asegurate de guardar todos los trabajos antes de esa hora.
</li>
<li>
Si puedes trabajar en local y cuando se reinicien los servidores vuelca el trabajo de nuevo al servidor.
</li>
<li>
Para cualquier duda ponte en contacto con el servicio t&eacute;cnico: <a href="mailto:asistencia@xxx.com" >asistencia@xxx.com</a>
</li>
</ul>
</div>