<div id="idDialog" style="display:none">Esto es una prueba de un diálogo con texto dentro de él</div>
<div id="pruebas">
	<button id="btnDialog">Diálogo normal</button>
	<button id="btnAjaxDialogWAR">Diálogo con petición Ajax (War)</button>
	<button id="btnAjaxDialogStatics">Diálogo con petición Ajax (Statics) </button>
	<button id="btnTextDialog">Diálogo con texto</button>
</div>
