<div class="container-fluid">
  <section>
    <div id="componentMainBody">
    </div>

    <div id="exampleCode">
      
    </div>
  </section>

  <section>
    <h4>Pruebalo!</h4>
    <div id="componentTest">

    </div>
  </section>
</div>
