<div class="container-fluid">
  <section>
    <div id="componentMainBody">
    </div>

    <div id="componentTest">

    </div>
  </section>

  <section>
    <h4>Código</h4>

    <div id="exampleCode">

    </div>
  </section>
</div>
