<div class="feedback-view container-fluid">
  <section>
    <div id="componentMainBody">
    </div>

    <div id="exampleTabs"></div>
    <pre>
      <code class="html" id="componentHtmlExample">
      </code>
    </pre>
    <pre>
      <code class="javascript" id="componentJsExample">
      </code>
    </pre>
  </section>

  <section>
    <h4>Pruebalo!</h4>
    <div id="componentTest">

    </div>
  </section>
</div>
