<div class="container-fluid">
  <section>
    <div id="description">
    </div>
  </section>
  <section id="rwdExampleSection">
    <div id="rwdExample">
    </div>
  </section>
  <section>
    <div id="exampleCode">

    </div>

  </section>
</div>
