<div>
    <form id="listFilterForm">
        <fieldset>
            <div class="row pb-2">
                <div class="col-md-1"/>
                <div class="col-md-4">
                    <div class="row">
                        <label for="listFilterUsuario">Usuario:</label>
                        <div class="col-md-1"/>
                        <input id="listFilterUsuario" type="text" name="usuario" class="col-md-9">
                    </div>
                </div>
                <div class="col-md-2"/>
                <div class="col-md-4">
                    <div class="row">
                        <label for="listFilterEmail">Email:</label>
                        <div class="col-md-1"/>
                        <input id="listFilterEmail" type="email" name="email" class="col-md-9">
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-1"/>
                <div class="col-md-4">
                    <div class="row">
                        <label for="listFilterEdad">Edad:</label>
                        <div class="col-md-1"/>
                        <input id="listFilterEdad" type="number" name="edad" class="col-md-9">
                    </div>
                </div>
                <div class="col-md-2"/>
                <div class="col-md-4">
                    <div class="row">
                        <label for="listFilterCodCliente">Codigo cliente:</label>
                        <div class="col-md-1"/>
                        <input id="listFilterCodCliente" type="number" name="codCliente" class="col-md-9">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"/>
                <button id="listFilterAceptar" class="mdi mdi-filter col-md-2"> Filtrar </button>
                <div class="col-md-1"/>
                <button id="listFilterLimpiar" class="mdi mdi-broom col-md-2"> Limpiar </button>
            </div>
        </fieldset>
    </form>
</div>