
<h2> Componente rup_list </h2>

{{> _listFilterForm}}
<div id="rup-list-feedback" />
<div id="rup-list-content">
    <fieldset id="rup-list-header">
        <div class="row">
            <div class="col-md-4">
                <label for="rup-list-header-rowNum">Elementos por página:</label>
                <select id="rup-list-header-rowNum"/>
            </div>
            <!-- Ordenar por -->
            <div class="col-md-4">
                <label for="rup-list-header-sidx">Ordenar por:</label>
                <select id="rup-list-header-sidx"/>
                <button id="rup-list-header-sord">
                    <i class="mdi mdi-sort"/>
                </button>
            </div>
            <!-- Navegación -->
            <div class="col-md-4">
                <nav id="rup-list-header-nav"/>
            </div>
        </div>
    </fieldset>
    <div id="rup-list"></div>
    <div id="rup-list-itemTemplate">
        <div id="templateContent">
            <div class="row">
                <h3> Datos del <span id="usuario_label"/> <b><span id="usuario_value"></span></b></h3>
            </div>
            <div class="row">
                <ul>
                    <li>Email :<span id="email_value"/></li>
                    <li>Edad :<span id="edad_value"/></li>
                    <li>Codigo cliente :<span id="codCliente_value"/></li>
                </ul>
            </div>
        </div>
    </div>
</div>