<form id="example_filter_form">
  <div id="example_filter_toolbar" class="formulario_legend"></div>
  <fieldset id="example_filter_fieldset" class="rup-table-filter-fieldset">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="form-group form-group-sm">
          <label for="id_filter_example" class="formulario_linea_label">Id:</label>
          <input type="text" name="id" class="formulario_linea_input form-control" id="id_filter_example" />
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="form-group form-group-sm">
          <label for="nombre_filter_example" class="formulario_linea_label">Nombre:</label>
          <input type="text" name="nombre" class="formulario_linea_input form-control" id="nombre_filter_example" />
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="form-group form-group-sm">
          <label for="apellidos_filter_example" class="formulario_linea_label">Apellidos:</label>
          <input type="text" name="apellidos" class="formulario_linea_input form-control" id="apellidos_filter_example" />
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="form-group form-group-sm">
          <label for="edad_filter_example" class="formulario_linea_label">Edad:</label>
          <input type="text" name="edad" class="formulario_linea_input form-control" id="edad_filter_example" />
        </div>
      </div>
    </div>
    <div id="example_filter_buttonSet" class="right_buttons">

        <button id="example_filter_cleanButton" href="javascript:void(0)" class="btn-material btn-material-primary-low-emphasis mr-2">Limpiar</button>
        <button id="example_filter_filterButton" type="button" class="btn-material btn-material-primary-low-emphasis" >Filtrar</button>
    </div>
  </fieldset>
</form>
