
<label for="fecha">Fecha </label><label for="fecha" id="fecha-mask"></label>:
<input id="fecha" type="text" />
&nbsp;&nbsp;<input id="fecha_button" type="button" value="getDate()" />
<br/><br/>

<!-- Fecha múltiple-->
<label for="fecha">Fecha multiple </label><label for="fecha_multi" id="fecha_multi-mask"/></label>:
<input id="fecha_multi" type="text" />
&nbsp;&nbsp;<input id="fecha_multi_button" type="button" value="getDates()" />
<br/><br/>

<!-- Intervalo Fecha-->
<label for="fecha">Intervalo desde </label><label for="desde" id="intervalo-mask"/></label>:
<input type="text" id="desde" />
<label for="fecha">hasta: </label>
<input type="text" id="hasta"/>
<br/><br/>

<!-- Intervalo Fecha y hora -->
<label for="fecha">Intervalo desde </label><label for="desde" id="intervalo-mask-date-time"/></label>:
<input type="text" id="desdeDateTime" />
<label for="fecha">hasta: </label>
<input type="text" id="hastaDateTime"/>
<br/><br/>

<!-- Fecha desplegada -->
<div id="fecha_inline"></div>
<div style="margin-right: 33em;"><input id="fecha_inline_button" type="button" value="getDate()" /></div>
