<h2>Men&uacute;</h2>

<ul id="example">

			<li>
				<a href="/x21aResponsiveWar/patrones/all">
					[Todos los patrones]
				</a>
			</li>
			<li class="ui-widget-content ui-menu-divider"></li>
			<li><strong>Notificaciones</strong></li>
			<li>
				<a href="#feedback">
					Feedback
					<span class="ui-icon feedback_icon"></span>
				</a>
			</li>
			<li>
				<a href="#tooltip">
					Tooltip
					<span class="ui-icon tooltip_icon"></span>
				</a>
			</li>
			<li>
				<a href="#message">
					Mensajes
					<span class="ui-icon message_icon"></span>
				</a>
			</li>
			<li>
				<a href="#dialog">
					Diálogos
					<span class="ui-icon dialog_icon"></span>
				</a>
			</li>
			<li>
				<a href="#progressbar">
					Barra de progreso
					<span class="ui-icon dialog_icon"></span>
				</a>
			</li>
			<li class="ui-widget-content ui-menu-divider"></li>
			<li><strong>Navegación</strong></li>

					<li>
						<a href="#menuHorizontal">
							Horizontal
						</a>
					</li>
					<li>
						<a href="#menuVertical">
							Vertical
						</a>
					</li>
					<li>
						<a	href="#menuMixto">
							Mixto
						</a>
					</li>
					<li>
						<a href="#navMenu">
							Con Navegación
						</a>
					</li>

			<li>
				<a href="#contextMenu">
					Menú contextual
					<span class="ui-icon contextMenu_icon"></span>
				</a>
			</li>
			<li>
				<a href="#toolbar">
					Botonera
					<span class="ui-icon toolbar_icon"></span>
				</a>
			</li>
			<li>
				<a href="#button">
					Botón
					<span class="ui-icon toolbar_icon"></span>
				</a>
			</li>

			<li>
				<a href="#accordion">
					Accordion
					<span class="ui-icon accordion_icon"></span>
				</a>
			</li>

					<li>
						<a href="#tabsStatic">
							Pestañas carga estática
						</a>
					</li>
					<li>
						<a	href="#tabsAjax">
							Pestañas carga Ajax
						</a>
					</li>
					<li>
						<a	href="#tabsMixto">
							Pestañas carga mixta
						</a>
					</li>
					<li>
						<a href="/x21aResponsiveWar/patrones/maintTab">
							Pestañas con mantenimientos
						</a>
					</li>
					<li>
						<a href="#tabsScrollable">
							Pestañas con navegación
						</a>
					</li>



					<li>
						<a	href="#wizard">
							Wizard simple
						</a>
					</li>
					<li>
						<a	href="#wizardDinamico">
							Wizard dinámico
						</a>
					</li>


					<li>
						<a	href="/x21aResponsiveWar/patrones/trees">
							Árboles con diferentes configuraciones
						</a>
					</li>

					<li>
						<a href="/x21aResponsiveWar/patrones/treeDAD">
							Árboles con interaccion mediante Drag & Drop
						</a>
					</li>



			<li>
				<a href="#autocomplete">
					Autocomplete
					<span class="ui-icon autocomplete_icon"></span>
				</a>
			</li>






			<li>
				<a href="#slider">
					Deslizador
					<span class="ui-icon date_icon"></span>
				</a>
			</li>
			<li>
				<a href="#date">
					Fecha
					<span class="ui-icon date_icon"></span>
				</a>
			</li>
			<li>
				<a href="#form">
					Formulario
					<span class="ui-icon form_icon"></span>
				</a>
			</li>
			<li>
				<a href="#time">
					Hora
					<span class="ui-icon time_icon"></span>
				</a>
			</li>
			<li>
				<a href="#slider">
					Slider
					<span class="ui-icon date_icon"></span>
				</a>
			</li>
			<li>
				<a href="#spinner">
					Spinner
					<span class="ui-icon date_icon"></span>
				</a>
			</li>
			<li>
				<a href="#upload">
					Upload
					<span class="ui-icon upload_icon"></span>
				</a>
			</li>
			<li>
				<a href="#validate">
					Validación
					<span class="ui-icon validate_icon"></span>
				</a>
			</li>
	</ul>
