<div class="contenedor" >
  <!-- Cabecera -->
  <div id="header"></div>
  <!-- Idioma -->
  <div id="language" ></div><br/>

  <!-- Menu -->
  <div id="menu"></div>

  <!-- Migas de pan -->
  <div id="breadCrumb"></div><br/>

  <!-- Contenidos -->
  <div id="container"></div>

  <!-- Pie -->
  <div id="footer"></div>
</div>
