// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: inline-block;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text and removes hover/tab effects
  &.disabled {
    color: $rup-color-nav-disabled-link;

    @include plain-hover-focus {
      color: $rup-color-nav-disabled-link-hover;
      cursor: $rup-cursor-disabled;
      background-color: $rup-color-nav-disabled-link-hover-bg;
    }
  }
}


// Nav inline

.nav-inline {
  .nav-item {
    display: inline-block;
  }

  .nav-item + .nav-item,
  .nav-link + .nav-link {
    margin-left: $rup-nav-item-inline-spacer;
  }
}


//
// Tabs
//

.nav-tabs {
  border-bottom: $rup-nav-tabs-border-width solid $rup-color-nav-tabs-border;
  @include clearfix();

  .nav-item {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -$rup-nav-tabs-border-width;

    + .nav-item {
      margin-left: $rup-nav-item-margin;
    }
  }

  .nav-link {
    display: block;
    padding: $rup-nav-link-padding;
    border: $rup-nav-tabs-border-width solid transparent;
    @include border-top-radius($rup-nav-tabs-border-radius);

    @include hover-focus {
      border-color: $rup-color-nav-tabs-link-hover-border $rup-color-nav-tabs-link-hover-border $rup-color-nav-tabs-border;
    }

    &.disabled {
      @include plain-hover-focus {
        color: $rup-color-nav-disabled-link;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }

  .nav-link.active,
  .nav-item.open .nav-link {
    @include plain-hover-focus {
      color: $rup-color-nav-tabs-active-link-hover;
      background-color: $rup-color-nav-tabs-active-link-hover-bg;
      border-color: $rup-color-nav-tabs-active-link-hover-border $rup-color-nav-tabs-active-link-hover-border transparent;
    }
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$rup-nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}


//
// Pills
//

.nav-pills {
  @include clearfix();

  .nav-item {
    float: left;

    + .nav-item {
      margin-left: $rup-nav-item-margin;
    }
  }

  .nav-link {
    display: block;
    padding: $rup-nav-link-padding;
    @include border-radius($rup-nav-pills-border-radius);
  }

  .nav-link.active,
  .nav-item.open .nav-link {
    @include plain-hover-focus {
      color: $rup-color-nav-pills-active-link;
      cursor: default;
      background-color: $rup-color-nav-pills-active-link-bg;
    }
  }
}

.nav-stacked {
  .nav-item {
    display: block;
    float: none;

    + .nav-item {
      margin-top: $rup-nav-item-margin;
      margin-left: 0;
    }
  }
}


//
// Tabbable tabs
//

// Hide tabbable panes to start, show them when `.active`
.tab-content {
   .tab-pane {
    display: none;
  }
   .active {
    display: block;
  }
}
