<div class="slider-examples">
  <div class="example">
    <div id="slider"></div>
  </div>

  <div class="example">
    <p>
      <label for="amount">Price range:</label>
      <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="sliderRange"></div>
  </div>

</div>
