<div class="slider-view">
  <h3>Deslizador</h3>
  <p>
     Permite seleccionar un valor moviendo un indicador o, en algunos casos, el usuario puede hacer clic sobre algún punto del slider para cambiar hacia ese valor.
  </p>
</div>
