<h2>Time</h2>
<div>
	<!-- Hora -->
	<label for="hora">Hora </label><label for="hora" id="hora-mask"></label>:
	<input id="hora" type="text"/>
	<br/><br/>
	
	<!-- Hora2 -->
	<label for="hora2">Hora </label>:
	<input id="hora2" type="text"/>
	<br/><br/>
	
	<div id="hora_inline"></div>
	
	<!-- Fecha y Hora -->
	<!--	<label for="fecha_hora">Fecha y Hora </label><label id="fecha_hora-mask"></label>:-->
	<!--	<input id="fecha_hora" type="text" />-->
</div>	