<h2><spring:message code="multicombo" /></h2>

<label for="multicombo">Multicombo local</label><br>
<select id="multicombo"></select>
<br><br>

<label for="multicomboRemoto">MultiCombo remoto</label><br>
<select id="multicomboRemoto"></select>
<br><br>

<label for="multicomboGrupos">MultiCombo con 'optgroups'</label><br>
<select id="multicomboGrupos"></select>
<br><br>

<label for="multicomboGruposRemoto">MultiCombo con 'optgroups' remoto</label><br>
<select id="multicomboGruposRemoto"></select>
<br><br>

<label for="multicomboInput">MultiCombo sobre <strong>Input</strong></label><br>
<input type="text" name="multicomboInput" id="multicomboInput" value="coldfusion##python" />
<br><br>

<label for="multicomboLoadFromSelect">MultiCombo carga inicial desde <strong>HTML</strong></label><br>
<select id="multicomboLoadFromSelect">
	<option value="1">Alava</option>
	<option value="3">Gipuzcoa</option>
	<option value="2">Vizcaya</option>
</select>
<br><br>