/**Toolbar**/

.ui-toolbar{
	padding: 7px 14px;
	margin: 0 0 18px;
	@include ui-gradient-vertical( $ui-white, $ui-form-actions-background );
	border: 1px solid lighten($ui-gray-light,25%);
	@include ui-border-radius( 3px );
	@include ui-box-shadow( inset 0 1px 0 $ui-white );
}
