input{
  &.error{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right .5625rem;
    background-size: 1.125rem 1.125rem;
    padding-right: 2rem;
  }
}

.rup-validate-error-icon{
  color: $rup-validate-icon-color;
}

.rup-validate-field-error{
  position: relative;

  .rup-validate-error-icon{
    position: absolute;
    top: 0;
    right: $rup-validate-icon-right;
    line-height: $rup-validate-icon-line-height;
  }
}

div.error, label.error{
  color: $rup-validate-icon-color;
  font-style: italic;
}
