.rup-wizard_stepsDescContainer {
    padding: 0;

    li {
        a {
            font-size: 1.1rem;
        }
    }
}

.rup-wizard_stepsDescContainer-sticky {
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 98;
}

%rup-wizard-step {
    width: auto;
    text-decoration: none;
    display: flex;
}

%rup-wizard-step-icon {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: $rup-fa-font-family;
    color: #69c;
}

.rup-wizard {
    fieldset {
        padding-top: 1.5rem;

        &.commands-fieldset {
            border: none;
            margin: 0;
        }
    }

    .wizardLegend {
        color: #b0232a;
        font-size: 1.2rem;
        font-weight: bold;
    }

    a.rup-wizard_next {
        @extend button;
        @extend %rup-wizard-step;

        &:after {
            @extend %rup-wizard-step-icon;
            content: "\f0da";
            margin-left: 1rem;
        }
    }

    a.rup-wizard_prev {
        @extend button;
        @extend %rup-wizard-step;

        &:before {
            @extend %rup-wizard-step-icon;
            content: "\f0d9";
            margin-right: 1rem;
        }
    }

    .rup-wizard_submitButton {
        @extend button;
        @extend %rup-wizard-step;

        span {
            display: flex;

            &:after {
                @extend %rup-wizard-step-icon;
                content: "\e171";
                padding-left: 0.5rem;
            }
        }
    }
}
