.context-menu-list{
  font-family: $rup-font-family;
  background-color: #fff;
  border-color: #ccc;
  font-size: $rup-font-size-larger;
  padding: 4px 4px;
}

.context-menu-item {
  background-color: #fff;
}
