.rup-combobox{
  margin-right: 2.5rem;

  .rup-combobox-input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .rup-combobox-toggle{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
