.rup-time-input-group{
  display: inline-table;
  vertical-align: middle;

  .hasDatepicker{
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: table-cell;

  }
  .ui-timepicker-trigger{

      padding: .1rem 0.5rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      display: table-cell;
      *{
        display: table-cell;
      }
  }
}
