.ui-accordion {
	.ui-accordion-header {
		.ui-icon {
			background-image: none;
		}
		
		.ui-accordion-header-icon {
			display: inline-block;
			overflow: visible;
			text-indent: 0;
			padding-right: 0.5rem;
		}

		&.ui-accordion-header-active {
			border: $rup-accordion-active-border;
			color: $rup-color-accordion-active-text;
			background: $rup-color-accordion-active-bg;
		}
	}
}
