.card {
  background: $rup-bg-color;
  border-radius: 2px;
  //display: inline-block;
  margin: 1rem;
  position: relative;
  //transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &.card-1 {
    @extend .shadow-1;
  }

  &.card-2 {
    @extend .shadow-2;
  }

  &.card-3 {
    @extend .shadow-3;
  }

  &.card-4 {
    @extend .shadow-4;
  }

  &.card-5 {
    @extend .shadow-5;
  }

  &.card-hover{
    &:hover{
      @extend .shadow-hover;
    }
  }
}
