.rup-date-input-group{
  display: inline-table;
  vertical-align: middle;

  .hasDatepicker{
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: table-cell;
    width: auto;

  }
  .ui-datepicker-trigger{

      padding-bottom: 0.38rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      display: table-cell;
      *{
        display: table-cell;
      }
  }
}

.ui-datepicker{

  background: $rup-color-date-bg;

  &:not(.ui-datepicker-inline){
    	@extend .shadow-2;
  }

  .ui-datepicker-header{
    	background: $rup-color-date-header-bg;
    	border: none;
  }
  
  head {
  		border-bottom: .1em solid black;
  		
  		th {
  			padding-bottom: 0;
  		}
  }
  
  td {
  		padding: unset;
  }

  .ui-datepicker-calendar{
		td{
			background: none;
			
			/* Estilo predeterminado de los días */
		    a{
		    	text-align: center;
		      	border: .1em solid #fff;
		      	background-color: #fff;
				color: #000;
		    }
		
		    &.ui-datepicker-unselectable{
		      opacity: 0.5;
		
		      span{
		        	border: none;
		        	text-align: center;
		        	background-color: $rup-color-date-day-bg;
		      }
		
		    }
			
			/* Día de hoy (azul) */
		    &.ui-datepicker-today{
		      	a{
					background-color: #337ab7;
					border: .1em solid #337ab7;
					color: #fff;
		      	}
		    }
		    
		    /* Fin de semana (sab-dom) */
		    &.ui-datepicker-week-end{
		      	a{
					background-color: #f0b9b8;
					border: .1em solid #f0b9b8;
					color: #000; 
		      	}
		    }
		    
		    /* Día seleccionado (verde)*/
		    &.ui-state-highlight{
		      	a{
					background-color: #b4fdcc;
					border: .1em solid #175c2e;
					color: #000;
		      	}
		    }
		    &.ui-datepicker-current-day{
		    	a{
		    		background-color: #b4fdcc;
					border: .1em solid #175c2e;
					color: #000;
		    	}
		    }
			
			/* Hover sobre el elemento */
		    &:hover{
		      	a{
					background: #69a3d6;
					border: .1em solid #69a3d6;
					color: #fff;
		      	}
		    }
    	}
  }
}