// RUP Font icon

%rup-fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rup-fa-ui{
  height: 15px;
  font-size: $rup-fa-size-lg;
  font-family: $rup-fa-font-family;
}

.rup-fa-ok:before{
  content: "\f00c";
}

.rup-fa-warning:before{
  content: "\f071";
}

.rup-fa-error:before {
  content: "\f057";
}

.rup-fa-error:before {
  content: "\f057";
}

.rup-fa-confirm:before,
.rup-fa-question-circle:before {
  content: "\f059";
}
.rup-fa-caret-down:before {
  content: "\f0d7";
}
.rup-fa-caret-up:before {
  content: "\f0d8";
}
.rup-fa-caret-left:before {
  content: "\f0d9";
}
.rup-fa-caret-right:before {
  content: "\f0da";
}


.rup-fa-close:before {
  content: "\f00d";
}
