.rup-breadCrumb_root {
    -moz-box-shadow: inset 0 -3px 6px rgba(0, 0, 0, .16), 0 -3px 6px rgba(0, 0, 0, .23);
    -webkit-box-shadow: inset 0 -3px 6px rgba(0, 0, 0, .16), 0 -3px 6px rgba(0, 0, 0, .23);
    box-shadow: inset 0 -3px 6px rgba(0, 0, 0, .16), 0 -3px 6px rgba(0, 0, 0, .23);
    background: $rup-color-breadCrumb-bg;
    display: inline-block;
    padding: .8rem 2rem;
    width: 100%;

    .rup-breadCrumb_main > li {
		padding: 0;
		
		span {
		    &.rup-icon {
		        padding: 0;
		        top: 0.4rem;
		    }
		}
		
		a {
		    padding: 0rem 0rem 1rem 0rem;
		}
		
		ul {
		    margin-top: 0.3rem;
		    max-height: 25rem;
		    overflow-y: auto;
		}
    }
}

.rup-breadCrumb_logoutDiv:hover {
	color: lighten($rup-text-color, 20%);
}

.rup-breadCrumb_logoutDiv .rup-breadCrumb_logoutImg {
    float: left;
    width: 1.5rem;
    margin: 0;
    text-indent: 0;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: large;
    text-rendering: auto;
    background-image: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        content: "\f023";
    }
}

.rup-breadCrumb_logoutDiv .rup-breadCrumb_logoutImg_active {
    float: left;
    width: 1.5rem;
    margin: 0;
    text-indent: 0;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: large;
    text-rendering: auto;
    background-image: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        content: "\f09c";
    }
}
