.rup-table-filter-fieldset{
  padding-left: 5px;
  padding-right: 5px;
}

div.right_buttons{
  >button{
    float:right;
  }
  .rup-dropdown-btn-group{
    float:right;
  }
}

div.right_buttons > button:not(:last-child) { 
	margin-left: 5px; 
}

.fix-align > div, .fix-align > span {
	display: block;
}

.fix-align > input[type='checkbox'] {
	width: auto;
}

.rup-table-filter{
  .collapse_icon{
    margin-top: 0;
  }
  .collapse_icon_right{
    margin-top: 0;
  }
}

.rup-filter-dropdown {
	background-color: #17a2b8 !important;
	color: #fff !important;
	border-color: #17a2b8 !important;
	border-radius: 4px !important;
}

.rup-filter-dropdown + button {
	margin-left: -2px;
	background-color: #17a2b8;
	color: #fff;
	border-color: #17a2b8;
	border-radius: 0 4px 4px 0;
}

.form-radio-custom {
	width: 100%;
	padding: 0 .75rem;
}

.ui-jqgrid {

  border-radius: 0;

  .ui-jqgrid-hbox{
    padding-right: 0;


    .ui-jqgrid-htable{
      border-collapse: inherit;

      th.ui-th-column:last-child(){
        border-right: none;
      }
    }

  }
  .ui-jqgrid-view{

    font-size: inherit;
    font-family: $rup-font-family;



    .ui-jqgrid-bdiv{
      .ui-jqgrid-btable{
        border-collapse: inherit;;
      }
    }
  }

  .ui-jqgrid-pager{

    font-family: $rup-font-family;

    .ui-pager-control{
      height: 3rem;

      .ui-pg-table td{
        vertical-align: baseline;
      }
    }

    .ui-pg-selbox, .ui-pg-input{
      height: inherit;
      font-size: inherit;
      padding: 0.17rem 0.4rem;
    }

    .iconPaginacion{
      vertical-align: middle;
      font-size: $rup-fa-size-xlg;
    }

    .linkPaginacion{
      font-size: $rup-font-size-base;
    }
  }

  @media (min-width: 993px) {
    .ui-jqgrid-pager{
      .iconPaginacion{
        display: none;
      }
    }
  }

  @media (max-width: 992px) {
    .ui-jqgrid-pager{
      .linkPaginacion{
        display: none;
      }

    }
  }





}

// Detail detailDiv

.rup-dialog{

  .rup-table-detail-info{
    float: left;
  }
  .rup-table-detail-currentElement{

    margin-left: 3px;
    margin-top: 2px;
    position: relative;
  }

  .rup-table-detail-navigation{
    float:right;
  }

  .rup-table-detail-separator{
    border-bottom:1px solid #D1D1D1;
    clear:both;
  }
}
