%feedback-icon{

  height: auto;

  margin: 0 1rem 0 0;

  float:left;
  font-size: $rup-fa-size-lg;
  font-family: $rup-fa-font-family;

}

.rup-feedback{
  @extend .shadow-2;
  margin: 0.8rem 0;
  &.rup-feedback_image{
    background-image: none;
    padding: 1em 0.5em 1em 1.5em;

    &.rup-feedback_image_ok{
      background-color: $rup-color-feedback-ok-bg;
      span.rup-feedback-icon{
        @extend %feedback-icon;
        @extend .rup-fa-ok;
        color: $rup-color-feedback-ok-icon;
      }
    }

    &.rup-feedback_image_alert{
      background-color: $rup-color-feedback-alert-bg;
      span.rup-feedback-icon{
        @extend %feedback-icon;
        @extend .rup-fa-warning;
        color: $rup-color-feedback-alert-icon;
      }
    }

    &.rup-feedback_image_error{
      background-color: $rup-color-feedback-error-bg;
      span.rup-feedback-icon{
        @extend %feedback-icon;
        @extend .rup-fa-error;
        color: $rup-color-feedback-error-icon;
      }
    }


    div.rup-feedback_closeLink.rup-bootstrap{
      //visibility: hidden;
      //
    }

    div.rup-feedback_closeLink{
      //visibility: hidden;
      text-decoration: none;
      float: right;
      padding-right: 2rem;
      margin: 0;
      @extend %feedback-icon;
      @extend .rup-fa-close;
      color: $rup-color-feedback-close-icon;
      &:before{
        float: right;
        visibility: visible;
      }
      &:hover{
        &:before{
          color: $rup-color-feedback-close-icon-hover;
        }

      }
    }

    div:last-child{
      //line-height: 2.4rem;
      padding-top: 0.2rem;
    }
  }
}
