
%box-shadow-style1{
  @include rup-box-shadow(0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23));

}

%select-style{
  font-size: $rup-font-size-base;
  height: 2rem;
  padding: 0;
  background-color: $rup-bg-color;
  background-image: none;
  border: 1px solid $rup-color-border;
  border-radius: $rup-border-radius;
  @include rup-box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.075), inset);
}

select {
  @extend select;

}

.ui-multiselect{
  @extend select;
  padding: 3px 4px;

  &.ui-state-active{
    span{

      color: $rup-text-color;
      &.ui-icon{
          background-image: url("images/ui-icons_555555_256x240.png");
      }
    }
  }

  span.ui-icon{
    margin-top: -0.3rem;
  }
}

.ui-selectmenu-dropdown{
  @extend select;

  &.ui-state-active{
    span{

      color: $rup-text-color;
      &.ui-icon{
          background-image: url("images/ui-icons_555555_256x240.png");
      }
    }
  }

  &:hover{
    text-decoration: none;
  }

  &.ui-selectmenu-hasIcon{
    span.ui-selectmenu-status{

      padding-left: 1.5rem;

      .ui-icon{
			top: 0;
		    left: 0;
		    width: 14px;
		    height: 14px;
			margin-top: .43rem;
		    background-size: contain;
      }
    }

  }

  span.ui-selectmenu-status{
    padding: 3px 4px;
  }

  span.ui-selectmenu-icon{
    top: 4px;
  }
}

.ui-selectmenu-menu {
  .ui-selectmenu-menu-dropdown{

    @extend %box-shadow-style1;

    li{

      a{
        padding: 3px 4px;
      }

      &.ui-selectmenu-hasIcon{
        a{
          padding-left: 1.5rem;

          .ui-icon{
            margin-top: -0.8rem;
          }
        }
      }
    }
  }
}

.ui-multiselect{
  span.ui-icon{
    top: 0.3rem;
  }
}
