.rup-tabs_container.ui-tabs{
  padding: 0;
  border: 1px solid $rup-color-tabs-border;
  @include border-top-radius($rup-tabs-border-radius);

  .rupRandomLayerId.ui-tabs-panel{
    padding: 0 0.4rem;
  }

  ul.ui-tabs-nav{
    padding: 0 0 0 0.2rem;
    background: none;
    border: none;
    li.ui-tabs-tab{
      border: $rup-color-tabs-border;
      background: transparent;

      &.ui-tabs-active{
        background: #fff;
        border: 1px solid $rup-color-tabs-active-border;
        border-bottom: none;
        a{
          color: $rup-color-tabs-active-text;
        }
      }

      a{
        color: $rup-link-color;
        border-top-right-radius: $rup-border-radius;
        border-top-left-radius: $rup-border-radius;
        border-bottom-width: 1;

        &:hover {
          @extend %tab-color-hover;
        }
      }
    }

  }

}
