button.ui-button {
    @extend button;
}

.ui-button.rup-button {
    @extend button;

    &.rup-dropdown {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: medium none;
    }

    &.rup-button-fab {
        @extend .shadow-2;
        border-radius: 50%;
        min-width: 5rem;
        width: 5rem;
        height: 5rem;

        &.rup-button-fixed {
            // position: fixed;
            // bottom: 45px;
            // right: 24px;
            // z-index: 9999;
        }

        &.rup-button-fab-sm {
            min-width: 3rem;
            width: 3rem;
            height: 3rem;
        }

        &:hover {
            @extend .shadow-3;
        }

        &:focus {
            outline: none;
        }
    }

    span.ui-button-icon.ui-icon {
        display: inline-block;
    }
}
// mbutton
.rup-mbutton {
    display: inline-block;

    .rup-mbutton-container {
        display: none;
        position: absolute;
        list-style: outside none none;
        z-index: 9000;
        background-color: $rup-bg-color;
        border: 1px solid $rup-color-border;
        margin: 0;
        padding: 0.4rem;

        &.rup-mbutton-open {
            display: block;
        }

        button {
            width: 100%;
            text-align: left;
        }
    }
}
@mixin collapsed-mbutton($extend: true) {
     @if $extend == true{
        @extend %collapsed-mbutton;
    }
    @else {
        > button {
            display: none;
        }

        .rup-mbutton-container {
            display: inline;
            position: relative;
            padding: 0;
            border: none;
            background-color: transparent;
            z-index: 8000;

            li {
                display: inline-block;
            }

            button {
                display: block;
                width: inherit;
            }
        }
    }
}

%collapsed-mbutton {
    @include collapsed-mbutton($extend: false);
}
@media (min-width: 576px) {
    .rup-mbutton.rup-collapsed-sm {
        @include collapsed-mbutton($extend: false);
    }
}
@media (min-width: 768px) {
    .rup-mbutton.rup-collapsed-md {
        @include collapsed-mbutton($extend: false);
    }
}
@media (min-width: 992px) {
    .rup-mbutton.rup-collapsed-lg {
        @include collapsed-mbutton($extend: false);
    }
}
@media (min-width: 1200px) {
    .rup-mbutton.rup-collapsed-xl {
        @include collapsed-mbutton($extend: false);
    }
}

.rup-dropdown-btn-group {
    .rup-dropdown-button {
        @extend button;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: 0.5rem;

        &.ui-button-icon-only > span.ui-button-icon {
            margin-top: -8px;
        }
    }
}

.rup-button-fab-group {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 45px;
    right: 24px;
    align-items: center;
    z-index: 9999;

    .rup-button-fab {
        order: 2;
    }

    &:hover {
        .rup-button-fab-list {
            display: flex;
            visibility: visible;

            .rup-button-fab {
                transform: scaleY(1) scaleX(1) translateY(0) translateX(0px);
            }
        }
    }

    .rup-button-fab-list {
        order: 1;
        flex-direction: column-reverse;
        padding: 0;
        display: none;
        visibility: hidden;
        transition: all 0.2s ease-in-out;

        li {
            display: flex;
        }

        .rup-button-fab {
            transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px);
            margin: 0.5rem 0;
        }
    }
}
