%button-style-base{
  font-size: $rup-font-size-larger;
  padding: 6px 12px;
  border-radius: $rup-border-radius;
  line-height: $rup-button-line-height;
  font-weight: $rup-button-font-weight;
  margin-bottom: 0;
}
%button-style{
  -moz-user-select: none;
  background-image: none;
  border: 1px solid $rup-color-button-border;
  /*border-radius: 4px;*/
  border-radius: $rup-border-radius;
  cursor: pointer;
  display: inline-block;
  box-shadow: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: none;

}


body{
  font-size: $rup-font-size-body;
}

label, label.label, .label {
  font-size: $rup-font-size-base;
  color: $rup-text-color;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 100%;
}

input, textarea{
  //box-shadow: none;
  background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    // display: block;
    font-size: $rup-font-size-base;
    //height: 2rem;
    line-height: 1.42857;
    padding: 2px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    //width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="password"],
.ui-autocomplete-input,
textarea,
.uneditable-input {
  // font-size: $rup-font-size-base;
  // height: $rup-input-height;
}

button, input[type="button"], input[type="submit"]{
  @extend %button-style-base;
  @extend %button-style;
  @extend %button-color;

  &:hover{
    @extend %button-color-hover;
  }
}

fieldset{
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend{
  font-size: $rup-font-size-base;
  width: auto;
  margin-bottom: 0;
  border: none;
  padding: 0 0.4rem;
}

.form-group-sm .form-control, .form-group-sm select.form-control{
  height: 25px;
}

select{
  @extend %select-style;
}

p, ul{
  margin-bottom: 1rem;
}
