<div id="accordion" class="rup_accordion">

	<h1><a>Primera secci贸n</a></h1>
	<div class="section">
		<img alt="La primera secci&oacute;n" src="images/primera_seccion.PNG">
	</div>
	<h1><a>Segunda secci贸n</a></h1>
	<div class="section2">
		<img alt="La segunda secci&oacute;n" src="images/segunda_seccion.PNG">
	</div>
	<h1><a>Tercera secci贸n</a></h1>
	<div class="section">
		<img alt="La tercera secci&oacute;n" src="images/tercera_seccion.PNG">
	</div>
	<h1><a>Cuarta secci贸n</a></h1>
	<div class="section2">
		<img alt="La cuarta secci&oacute;n" src="images/cuarta_seccion.PNG">
	</div>

</div>
