<h2>Toolbar</h2>

<div id=toolbar></div>

<br/>
<div class="separator"></div>
<div class="separator"></div>
<br/>

<div id=toolbarMixta></div>

<br/>
<div class="separator"></div>
<div class="separator"></div>
<br/>

<div id=toolbarRight></div>
