<div class="button-view">
  <h3>Botonera</h3>
  <p>
    Se les presenta a los usuarios una barra de botones con diversas funcionalidades relacionadas a elementos de la página. Gracias a este componente se presentan, ordenan y agrupan las distintas funcionalidades gestionadas por las aplicaciones.
  </p>
</div>
