<header>
  <div id="cabecera" class="cabecera" >
  	<div style="float: left;" >
  		<img src="images/ejie.jpg"/></a>
  	</div>
  	<a href="/x21aResponsiveWar/" style="float: right;">
  		<img src="images/euskadieus_logo.gif" alt="Euskadi Eus"/>
  	</a>
  </div>

</header>
