<div class="tooltip-view">
  <h3>Tooltip</h3>
  <p>
    Todas las aplicaciones deben tener un sistema de ayuda aunque algunas necesiten uno más completo y
preciso que otras. El objetivo del sistema de ayuda debe ser, por un lado ayudar al impaciente y/o al
usuario ocasional tan extensamente como sea posible y, por otro, ayudar a los usuarios expertos.
  </p>
</div>
