
a {
	color: $rup-link-color;
	text-decoration: $rup-link-decoration;
	&:hover {
		color: $rup-link-hover-color;
		text-decoration: $rup-link-hover-decoration;
	}
}
.rup-enlaceCancelar {
	float: right;
	margin: .5em .4em .5em 0;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	line-height: 1.4em;
	width: auto;
	overflow: visible;
	color: $rup-link-color;
}
.ui-state-highlight {
	font-weight: bold;
}
.rup_icon {
	float: left;
	padding-right: 0.5em;
}
.rup_external_link {
	display: inline;
	left: inherit !important;
	margin-top: 0.15em !important;
	position: static;
}
input.ui-button {
	padding: 0.2em 0.6em;
}
.ui-widget-content .ui-state-highlight {
	font-weight: bold;
}
.ui-widget-header .ui-state-highlight {
	font-weight: bold;
}
