/*!
 * Copyright 2013 E.J.I.E., S.A.
 *
 * Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la «Licencia»);
 * Solo podrá usarse esta obra si se respeta la Licencia.
 * Puede obtenerse una copia de la Licencia en
 *
 *      http://ec.europa.eu/idabc/eupl.html
 *
 * Salvo cuando lo exija la legislación aplicable o se acuerde por escrito,
 * el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL»,
 * SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 * Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 * que establece la Licencia.
 */

 //colors
 $color_lochmara_approx: #0a8ecc;
 $color_mine_shaft_approx: #333333;
 $color_celeste_approx: #cccccc;
 $color_storm_dust_approx: #666666;
 $color_tundora_approx: #444444;

 //urls
 $url_0: url(images/rup.separatorArrow.gif);
 $url_1: url(images/rup.padlock.gif);
 $url_2: url(images/rup.unlock.png);

 //@extend-elements
 //original selectors
 //.rup-breadCrumb_main, .rup-breadCrumb_main LI, .rup-breadCrumb_main UL, .rup-breadCrumb_main UL LI
 %extend_1 {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }

 //original selectors
 //.rup-breadCrumb_main LI UL LI A, .rup-breadCrumb_main LI UL LI A:visited
 %extend_2 {
 	text-decoration: none !important;
 	color: $color_celeste_approx !important;
 	display: block;
 	padding: 4px;
 	border-bottom: 1px dotted $color_storm_dust_approx;
 }


 .rup-breadCrumb_main {
 	@extend %extend_1;
 	background: none;
 	position: relative;
 	padding-top: 0.1em;
 	padding-right: 0;
 	float: left;
 	LI {
 		@extend %extend_1;
 		float: left;
 		border-right: none;
 		padding-right: 4px;
 		padding-left: 10px;
 		height: 16px;
 		padding-top: 5px;
 		padding-bottom: 5px;
 		width: auto;
 		UL {
 			position: absolute;
 			float: left;
 			padding: 3px;
 			background: $color_mine_shaft_approx;
 			font-size: 11px;
 			width: 180px;
 			top: 25px;
 			z-index: 1000;
 			LI {
 				float: left;
 				width: 100%;
 				border-right: none;
 				height: auto;
 				A {
 					@extend %extend_2;
 					&:visited {
 						@extend %extend_2;
 					}
 					&:HOVER {
 						background: $color_tundora_approx;
 					}
 					&:FOCUS {
 						background: $color_tundora_approx;
 						border-style: dotted;
 						border-width: thin;
 						outline: none;
 					}
 				}
 			}
 		}
 		&.rup-breadCrumb_current {
 			border-right: none;
 			background: none;
 			A {
 				color: $color_mine_shaft_approx;
 				font-weight: bold;
 			}
 		}
 		A {
 			text-decoration: underline;
 			color: $color_lochmara_approx;
 			&:HOVER {
 				color: $color_lochmara_approx;
 			}
 		}
 		&.hover A {
 			color: $color_lochmara_approx;
 		}
 		IMG.rup-icon {
 			display: inline-block;
 			margin-left: 1em;
 		}
 		SPAN.rup-icon {
 			display: inline-block;
 			margin-left: 1em;
 		}
 	}
 	UL {
 		@extend %extend_1;
 		display: none;
 		LI {
 			@extend %extend_1;
 		}
 	}
 }
 .rup-breadCrumbs {
 	width: 100%;
 	position: relative;
 	padding-bottom: 2.5em;
 	clear: both;
 }
 .rup-breadCrumbs_span {
 	float: left;
 	padding-top: 0.5em;
 }
 .rup-breadCrumb_root {
 	width: 100%;
 	float: left;
 	margin-bottom: 0.5em;
 }
 .rup-breadCrumb_logoutDiv {
 	float: right;
 	padding-top: 0.5em;
 	.rup-breadCrumb_logoutImg {
 		display: inline-block;
 		float: left;
 		background: $url_1 no-repeat right center;
 	}
 	.rup-breadCrumb_logoutImg_active {
 		display: inline-block;
 		float: left;
 		background: $url_2 no-repeat right center;
 	}
 	.rup-breadCrumb_exitImg {
 		display: inline-block;
 		float: left;
 	}
 }
 .rup-breadCrumb_link {
 	cursor: pointer;
 	padding-left: 0.3em;
 }
