/*!
 * Copyright 2013 E.J.I.E., S.A.
 *
 * Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la «Licencia»);
 * Solo podrá usarse esta obra si se respeta la Licencia.
 * Puede obtenerse una copia de la Licencia en
 *
 *      http://ec.europa.eu/idabc/eupl.html
 *
 * Salvo cuando lo exija la legislación aplicable o se acuerde por escrito, 
 * el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL»,
 * SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 * Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 * que establece la Licencia.
 */
 
 /* Capa del feedback */
.rup-maint_feedbackUL li{
	margin-left: 2em;
    margin-top: 0.2em;
}
.rup-maint_new {
	background:transparent url('images/toolbar/nuevo.png') no-repeat !important;
	width:14px;
}
.rup-maint_edit {
	background:transparent url("images/toolbar/editar.png") no-repeat !important;
	width:14px;
}
.rup-maint_cancel {
	background:transparent url("images/toolbar/cancelar.png") no-repeat !important;
	width:14px;
}
.rup-maint_delete {
	background:transparent url("images/toolbar/borrar.png") no-repeat !important;
	width:14px;
}
.rup-maint_save {
	background:transparent url("images/toolbar/guardar.png") no-repeat !important;
	width:14px;
}
.rup-maint_filter {
	background:transparent url("images/toolbar/filtrar.png") no-repeat !important;
	width:16px;
}
.rup-maint_clone {
	background:transparent url("images/toolbar/clonar.png") no-repeat !important;
	width:16px;
}
.rup-maint_filter_pressed {
	border: 1px solid #999999 !important;  
	font-weight: normal !important; 
	color: #212121 !important;
}

.rup-maint_export {
	background:transparent url("images/toolbar/filtrar.png") no-repeat !important;
	width:16px;
}
.rup-maint_export_pressed {
	border: 1px solid #999999 !important;  
	font-weight: normal !important; 
	color: #212121 !important;
}

/* Al mantenimiento Links de paginacion */
.rup-maint_linkPaginacionDetalle {
	background:none ;
	border:none ;
	clear:none ;
	cursor:pointer;
	float:left;
	text-decoration:underline;
	color:#0052C7 !important;
	font-size:0.88em ;
	padding-right:1.3em ;
}

.rup-maint_searchCriteria {
	background-color: #FFFACD;
}