/*!
 * Copyright 2019 E.J.I.E., S.A.
 *
 * Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la «Licencia»);
 * Solo podrá usarse esta obra si se respeta la Licencia.
 * Puede obtenerse una copia de la Licencia en
 *
 *      http://ec.europa.eu/idabc/eupl.html
 *
 * Salvo cuando lo exija la legislación aplicable o se acuerde por escrito, 
 * el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL»,
 * SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 * Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 * que establece la Licencia.
 */

.rup-table-filter-fieldset {
    border-top-style: hidden;
}

.rup-table-filter-toggle-label {
    text-decoration: underline;
}

.table-bordered {
    border: 1px solid #c0c0c0;
    border-bottom: 1px solid #dee2e6;
}

.paginationContainer {
    border: 1px solid #c0c0c0;
    border-top: 0;
    padding: 5px 0;
}

td>div.centerOnResponsiveContainer {
    display: flex;
}

.dataTable {
    .sorting_asc {
        .mdi.mdi-arrow-up::before {
            font-weight: 600;
        }
    }

    .sorting_desc {
        .mdi.mdi-arrow-down::before {
            font-weight: 600;
        }
    }
}
