/*!
 * Copyright 2019 E.J.I.E., S.A.
 *
 * Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la «Licencia»);
 * Solo podrá usarse esta obra si se respeta la Licencia.
 * Puede obtenerse una copia de la Licencia en
 *
 *      http://ec.europa.eu/idabc/eupl.html
 *
 * Salvo cuando lo exija la legislación aplicable o se acuerde por escrito, 
 * el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL»,
 * SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 * Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 * que establece la Licencia.
 */

.rup-table-filter-fieldset {
    border-top-style: hidden;
}

.rup-table-filter-toggle-label {
    text-decoration: underline;
}

.collapse_icon_right {
	float: right;
	cursor: pointer;
	opacity: 0.5;

	&:hover {
		opacity: 0.3;
	}
}

.collapse_label,
.matched_layer {
	font-weight: normal;
}

.matched_layer {
	float: left;
}

.search_collapse_layer {
	float: left;
}

.search_nav_layer {
	float: right;
}

.table-bordered {
    border: 1px solid #c0c0c0;
    border-bottom: 1px solid #dee2e6;
}

.paginationContainer {
    border: 1px solid #c0c0c0;
    border-top: 0;
    padding: 5px 0;
}

td > div.centerOnResponsiveContainer {
    display: flex;
}

.dataTable {
	.sorting_asc {
		&.sorting_active_only {
			.mdi.mdi-arrow-down {
				display: none;
			}
		}
		
		.mdi.mdi-arrow-up::before {
			font-weight: 600;
		}
	}

	.sorting_desc {
		&.sorting_active_only {
			.mdi.mdi-arrow-up {
				display: none;
			}
		}
		
		.mdi.mdi-arrow-down::before {
			font-weight: 600;
		}
	}

	.sorting {
		&.sorting_active_only {
			.mdi.mdi-arrow-up, .mdi.mdi-arrow-down {
				display: none;
			}
		}
	}
}

.custom-select {
	-webkit-appearance: menulist;
  	-moz-appearance: menulist;
  	appearance: menulist;
}

/* ************************* */
/*  AÃ‘ADIDOS PARA RUP.TABLE  */
/* ************************* */

.cursor_pointer {
	cursor: pointer;
}

.collapse_icon {
	float: left;
	cursor: pointer;
}

.collapse_icon_right {
	float: right;
	cursor: pointer;
	opacity: 0.5;
}

.collapse_label {
	color: blue;	
	cursor: pointer;
	text-decoration: underline;
}

.collapse_label, .matched_layer {
	font-weight: normal;
}

.collapse_icon_right:hover {
	opacity: 0.3;
}

.matched_layer {
	float: left;
}

.search_collapse_layer {
	float: left;
}

.search_nav_layer {
	float: right;
}

// No usamos "display: none" para evitar que el elemento sea ignorado
.checkboxPKBloqueado {
	visibility: hidden;
	position: absolute;
}

.sustitutoCheckboxPKBloqueadoGeneral {
	display: block;
	width: 16px;
	height: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #FAFAFA;
}

.sustitutoCheckboxPKBloqueadoCross {
	padding-left: 1.5px;
}
