// Colors

$rup-color-white: #ffffff;
$rup-color-black: #000000;

$rup_color-gray: #7f9db9;

$rup-link-color:            #0052c7;
$rup-link-decoration:       underline !default;
$rup-link-hover-color:      #0052c7 !default;
$rup-link-hover-decoration: none !default;
