<div class="contextMenu-view">
  <h3>Menú contextual</h3>
  <p>
    Un menú contextual consta de un menú dentro de una interfaz gráfica que se muestra a partir de una interacción del usuario. El menú contextual muestra una serie de opciones disponibles en el contexto o estado actual de la aplicación.
  </p>
</div>
