<div class="tooltip-view">
  <h3>Combo</h3>
  <p>
    Permite al usuario recuperar un elemento de una gran lista de elementos o de varias listas dependientes de forma sencilla y ocupando poco espacio en la interfaz.
  </p>
</div>
