<h2>Combo</h2>

<label for="combo">Combo local</label>
<select id="combo" class="rup-combo"></select>
<br><br>

<label for="comboRemoto">Combo remoto</label>
<select id="comboRemoto" class="rup-combo"></select>
<br><br>

<label for="comboLargo">Combo con texto largo</label>
<select id="comboLargo" class="rup-combo"></select>
<br><br>

<label for="comboGrupos">Combo con 'optgroups'</label>
<select id="comboGrupos" class="rup-combo"></select>
<br><br>

<label for="comboGruposRemoto">Combo con 'optgroups' remoto</label>
<select id="comboGruposRemoto" class="rup-combo"></select>
<br><br>

<label for="comboImgs">Combo (no i18n) con imagenes</label>
<select id="comboImgs" class="rup-combo"></select>
<br><br>

<label for="comboInput">Combo sobre <strong>Input</strong></label>
<input type="text" name="comboInput" id="comboInput" value="python" />
<br><br>

<label for="comboLoadFromSelect">Combo carga inicial desde <strong>HTML</strong></label>
<select id="comboLoadFromSelect">
	<option value="1">Alava</option>
	<option value="3">Gipuzcoa</option>
	<option value="2">Vizcaya</option>
</select>
<br><br>
