<div class="container-fluid">
  <section>
    <div id="tableMainBody">
    </div>
    <div id="tableTest">
    </div>
  </section>

  <section>
    <h4>Código</h4>

    <div id="tableCode">

    </div>
  </section>
</div>
