<div id="uploadTabs"></div>

<div id="fileupload_only_div">
	<form id="fileupload_only" action="../upload" id="usuarioForm" enctype="multipart/form-data" method="POST">
		<fieldset style="border:1px solid #DADADA;" id="fieldset_formulario">
			<div class="formulario_columna_cnt">
				<div class="formulario_linea_izda_float">
			        <div class="fileupload-buttonbar">
				        <div>
				            <label for="file">Ficheros: </label>
				            <input id="file_only" class="fileinput-button" type="file" name="files[]" multiple="multiple">
				            <button type="submit" class="start">Subir todos</button>
				            <button type="reset" class="cancel">Cancelar todos</button>
				            <button type="button" class="delete">Eliminar todos</button>
						</div>
			        </div>

				    <div class="fileupload-content">
				        <table class="files"></table>
				        <div id="fileupload-progressbar" class="fileupload-progressbar"></div>
				    </div>
			    </div>
			  </div>
		</fieldset>
	</form>
</div>

<form id="fileupload"  action="../upload"	method="POST" enctype="multipart/form-data">
	<fieldset style="border:1px solid #DADADA;" id="fieldset_formulario">
			<div class="formulario_columna_cnt">
				<div class="formulario_linea_izda_float">
					<!-- Redirect browsers with JavaScript disabled to the origin page -->
					<noscript>
						<input type="hidden" name="redirect"
							value="https://blueimp.github.io/jQuery-File-Upload/">
					</noscript>
					<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
					<div class="fileupload-buttonbar">
						<div class="fileupload-buttons">
							<!-- The fileinput-button span is used to style the file input field as button -->
				<!-- 			<span class="fileinput-button"> <span>Add files...</span> <input -->
				<!-- 				type="file" name="files[]" multiple> -->
				<!-- 			</span> -->
							<label for="file">Ficheros: </label>
							<input id="file_only" type="file" name="files[]" multiple="multiple">
							<button type="submit" class="start">Subir todos</button>
							<button type="reset" class="cancel">Cancelar todos</button>
							<button type="button" class="delete">Eliminar todos</button>
<!-- 							<input type="checkbox" class="toggle"> -->
							<!-- The global file processing state -->
							<span class="fileupload-process"></span>
						</div>
						<!-- The global progress state -->
						<div class="fileupload-progress fade" style="display: none">
							<!-- The global progress bar -->
							<div class="progress" role="progressbar" aria-valuemin="0"
								aria-valuemax="100"></div>
							<!-- The extended global progress state -->
							<div class="progress-extended">&nbsp;</div>
						</div>
					</div>
					<!-- The table listing the files available for upload/download -->
					<div class="fileupload-content">
					<table role="presentation">
						<tbody class="files"></tbody>
					</table>
					 </div>
		 		</div>
			</div>
	</fieldset>
</form>




<div id="fileupload_form">
	<form action="../upload/form" id="usuarioForm" enctype="multipart/form-data" method="POST">
		<fieldset style="border:1px solid #DADADA;" id="fieldset_formulario">
			<div id="feedback_fileupload_form"></div>
			<div class="formulario_columna_cnt">
				<div class="formulario_linea_izda_float">
					<label id="label_nombre"  for="nombre" >Nombre :</label>
					<input id="nombre" name="nombre" />
				</div>
				<div class="formulario_linea_izda_float">
					<label id="label_apellido1"  for="apellido1" >Apellido 1:</label>
					<input id="apellido1" name="apellido1" />
				</div>
				<div class="formulario_linea_izda_float">
					<label id="label_apellido2"  for="apellido2" >Apellido 2:</label>
					<input id="apellido2" name="apellido2" />
				</div>
				<div class="formulario_linea_izda_float">
					<label id="label_ejie"  for="ejie" >EJIE:</label>
					<input type="checkbox" id="ejie" name="ejie" value="1" />
				</div>
			</div>
			<div class="formulario_columna_cnt">
			&nbsp;
			</div>
			<div class="formulario_columna_cnt">
				<div class="formulario_linea_izda_float">
					Archivos adjuntos:
				</div>
			</div>
			<div class="formulario_columna_cnt">
				<div class="formulario_linea_izda_float">
			        <div class="fileupload-buttonbar">
			        <div>
			            <label for="file">Fichero: </label>
			            <input id="file_form" type="file" name="file">
					</div>
			        </div>

				    <div class="fileupload-content">
				        <table class="files"></table>
				        <div id="fileupload-progressbar" class="fileupload-progressbar"></div>
				    </div>
			    </div>
			  </div>
			  <div class="formulario_columna_cnt">
			 	 <div class="formulario_linea_izda_float fileupload-buttonbar"  >
					<button id="sendButton" type="submit" class="start">Enviar formulario</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div id="fileupload_form_multiple">
	<form action="../upload/formSimple" id="usuarioFormSimple" enctype="multipart/form-data" method="POST">
		<fieldset style="border:1px solid #DADADA;" id="fieldset_formulario">
			<div id="feedback_fileupload_form_multiple"></div>
			<div class="formulario_columna_cnt">
				<div class="formulario_linea_izda_float">
					<label id="label_nombre"  for="nombre" >Nombre :</label>
					<input id="nombre" name="nombre" />
				</div>
				<div class="formulario_linea_izda_float">
					<label id="label_apellido1"  for="apellido1" >Apellido 1:</label>
					<input id="apellido1" name="apellido1" />
				</div>
				<div class="formulario_linea_izda_float">
					<label id="label_apellido2"  for="apellido2" >Apellido 2:</label>
					<input id="apellido2" name="apellido2" />
				</div>
				<div class="formulario_linea_izda_float">
					<label id="label_ejie"  for="ejie" >EJIE:</label>
					<input type="checkbox" id="ejie" name="ejie" value="1" />
				</div>
			</div>
			<div class="formulario_columna_cnt">
			&nbsp;
			</div>
			<div class="formulario_columna_cnt">
				<div class="formulario_linea_izda_float">
					Archivos adjuntos:
				</div>
			</div>
			<div class="formulario_columna_cnt">
				<div class="formulario_linea_izda_float">
			        <div id="fileupload_file_form_padre" >
				        <div class="fileupload-buttonbar">
				            <label for="file">Foto padre: </label>
				            <input id="file_form_padre" type="file" name="fotoPadre">
						</div>
						 <div class="fileupload-content">
					        <table class="files"></table>
					    </div>
			        </div>

			        <div id="fileupload_file_form_madre">
			        	<div class="fileupload-buttonbar">
				            <label for="file">Foto madre: </label>
				            <input id="file_form_madre" type="file" name="fotoMadre">
						</div>
						<div class="fileupload-content">
					        <table class="files"></table>
					    </div>
			        </div>

			    </div>
			  </div>
			  <div class="formulario_columna_cnt">
			 	 <div class="formulario_linea_izda_float fileupload-buttonbar"  >
					<button id="sendButtonMultiple" type="submit" class="start">Enviar formulario</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>


<div id="fileupload_pif_form">
	<form action="../upload/pifForm" id="usuarioForm" enctype="multipart/form-data" method="POST">
		<fieldset style="border:1px solid #DADADA;" id="fieldset_formulario">
			<div class="formulario_columna_cnt">
				<div class="formulario_linea_izda_float">
			        <div class="fileupload-buttonbar">
				        <div>
				            <label for="file">Ficheros: </label>
				            <input id="file_pif_form" type="file" name="files[]" multiple="multiple">
				            <button type="submit" class="start">Subir todos</button>
				            <button type="reset" class="cancel">Cancelar todos</button>
				            <button type="button" class="delete">Eliminar todos</button>
						</div>
			        </div>

				    <div class="fileupload-content">
				        <table class="files"></table>
				        <div id="fileupload-progressbar" class="fileupload-progressbar"></div>
				    </div>
			    </div>
			  </div>
		</fieldset>
	</form>
</div>
