<div id="x21aResponsiveWar_language" class="rup-language_root">
	<div class="languageHelpContact">
		<a target="_blank" title='Ayuda' href="https://elkarlan.ejgv.euskadi.net/webguneak/jakingune/RecursosDidacticos/Guias/Gaveta/Paginas%20Wiki/Inicio.aspx" id="header_ayuda">
			Ayuda
		</a>
		<span class="ui-icon ui-icon-extlink rup_external_link">&nbsp;&nbsp;&nbsp;&nbsp;</span>
		&nbsp;&nbsp;&nbsp;
		<a target="_blank" title='Contacto' href="mailto:uda@uda.es">
			Contacto
		</a>
		<span class="ui-icon ui-icon-extlink rup_external_link">&nbsp;&nbsp;&nbsp;&nbsp;</span>
	</div>
</div>
