

{{> _tableFilterForm}}


<table id="example" class="table table-striped table-bordered align-middle" data-filter-form="#example_filter_form" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th data-col-prop="id">Id</th>
                <th data-col-prop="nombre">Nombre</th>
                <th data-col-prop="apellidos">Apellidos</th>
                <th data-col-prop="edad">Edad</th>
            </tr>
        </thead>
</table>

{{> _tableDetailForm}}