<div class="datatable-view">
  <h3>Datatable</h3>
  <p>
        A veces es necesario un elemento de visualización y edición de datos. El objetivo del sistema
    debe ser facilitar una interfaz intuitiva para este propósito.
  </p>
</div>
