<footer>
  <div class="footer-row-1">
    <span class="footer-informacion-legal"> >> Información legal</span>
    <span class="footer-ejgv">© 2012 · Eusko Jaurlaritza - Gobierno Vasco</span>
  </div>
  <div class="footer-row-2">
    <img class="footer-image" src="images/web01-2014_claim_pertsona_helburu_es.gif" />
  </div>
</footer>
