<div>
    <h3>Componente rup_list (Dialogo)</h3>
    <p> 
            Este componente muestra elementos de backend en un formato de tarjetas con un
        template definido por el desarrollador. Aquí se presenta el componente en el
        interior de un dialogo.
    </p>
</div>