.ui-dialog{
  .ui-dialog-titlebar.ui-widget-header{
    padding: 1px 15px;
    background-color:transparent;

    .ui-dialog-title{
      margin-top: 0px;
      margin-bottom: 0px;
    }

    span.ui-dialog-title{
      font-size: $font-size-larger;
    }

    a.ui-dialog-title[role='button']{
      display:none;
    }

    .ui-dialog-titlebar-close{
      margin-right: 15px;

      span{
        display: inline-block;
      }
    }

  },
  .ui-dialog-buttonpane{
    padding: 1px 15px;

    .ui-dialog-buttonset button.ui-button{
      background-image: none;
      font-family: $font-family;
      text-shadow: none;
      border-radius: $border-radius;
      border-color: #adadad;
      &:hover {
        background-color: #e6e6e6;
        border-color: #adadad;
        color: $text-color;
      }
    }
  }
}
