.rup-message_icon-ok, .rup-message_icon-error, .rup-message_icon-confirm, .rup-message_icon-alert{
  content: "";
  background-image:none;
  height: auto;
  padding-top: 0.4em;
  margin-left: 0.4em;
  margin-right: 0;
}

.rup-message_icon-ok::before{
  content: "\e013";
  color: $color-ok;
}

.rup-message_icon-alert::before{
  content: "\e209";
  color: $color-alert;

}
.rup-message_icon-error::before{
  content: "\e083";
  color: $color-error;
}

.rup-message_icon-confirm::before{
  content: "\e085";
  color: $color-confirm;
}
