
// Fonts

$font-family: 'Open Sans', sans-serif !default;

$font-size-root: 12px !default;
$font-size-body: 1.1rem !default;

$font-size-base: 1rem !default;
$font-size-xlg:   1.5rem !default;
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs: .75rem !default;

$font-size-larger: ($font-size-base * 1.1) !default;

$text-color: #333;

// Colors

$bg-color: #fff;
$bg-color-hover: darken($bg-color, 5%);

$border-color: #ccc;
$border-color-hover: darken($border-color, 20%);

$color-gray: #aaa;
$color-gray-hover: darken($color-gray, 20%);

$color-ok: #2D882D;
$color-alert: #FF851B;
$color-error: #FF4136;
$color-confirm: #0074D9;

// Styles

$border-radius: 4px;

%button-style-base{
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  /*border-radius: 4px;*/
  cursor: pointer;
  display: inline-block;
  /*font-size: 14px;*/
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  /*padding: 6px 12px;*/
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

}

%button-style{
  font-size: $font-size-larger;
  padding: 6px 12px;
  border-radius: $border-radius;
}

%color-base{
  background-color: $bg-color;
  border-color: $border-color;
  color: $text-color;
}

%color-hover-base{
  background-color: $bg-color-hover;
  border-color: $border-color-hover;
  color: $text-color;
}

%tab-color{
  @extend %color-base;
}

%tab-color-hover{
  @extend %color-hover-base;
}

%button-color{
  @extend %color-base;
}

%button-color-hover{
  @extend %color-hover-base;
}

%select-style{
  font-size: $font-size-base;
  height: 2rem;
  padding: 0;
  background-color: $bg-color;
  background-image: none;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.075), inset);
}

%box-shadow-style1{
  @include box-shadow(0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23));

}
