/* rup-list*/

.rup_list-header {
    margin-bottom: .5rem;
}

.rup_list-footer {
    margin-top: .5rem;
}

.rup_list-header,
.rup_list-footer {
    padding: .75rem 0;
    border: 1px solid #bbb;
    margin-left: 0;
    margin-right: 0;

    button {
        height: 100% !important;
    }

    nav {
        float: right;

        a {
            line-height: 3.5rem;
        }
    }

    .rup_list-header-rowNum,
    .rup_list-footer-rowNum {
        &+span a {
            width: 100% !important;
        }
    }

    .rup_list-header-sidx,
    .rup_list-footer-sidx {
        &+span a {
            width: 100% !important;
        }
    }
}

.rup_list-content {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.rup_list-overlay {
    position: absolute;
}

.list-item {
    padding: .75rem;
    border: 1px solid gray;
    border-color: transparent;
    position: relative;
    border: none;
    border-radius: 0;
    margin: 1rem 0rem;
    width: auto;
    box-shadow: 1px 1px 11px #ddd;

    &:hover {
        background-color: #b9d4ec;
        cursor: pointer;
    }
}

.list-item-selected {
    background-color: #007bff;
    color: #FFF;

    &:hover {
        background-color: #007bff;
    }
}