<p>
  <label for="spinner">Seleccione un valor:</label>
  <input id="spinner" name="value">
</p>

<p>
  <button id="disable">Habilitar/deshabilitar</button>
  <button id="destroy">Destruir/inicializar</button>
</p>

<p>
  <button id="getvalue">Obtener valor</button>
  <button id="setvalue">Asignar valor a 5</button>
</p>
