<div class="spinner-view">
  <h3>Spinner</h3>
  <p>
    Un spinner es un elemento de las interfaces gráficas que permite al usuario ajustar un valor dentro de un cuadro de texto adjunto a dos flechas que apuntan en direcciones opuestas.
  </p>
</div>
