/*!
 * Copyright 2015 E.J.I.E., S.A.
 *
 * Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la «Licencia»);
 * Solo podrá usarse esta obra si se respeta la Licencia.
 * Puede obtenerse una copia de la Licencia en
 *
 *      http://ec.europa.eu/idabc/eupl.html
 *
 * Salvo cuando lo exija la legislación aplicable o se acuerde por escrito,
 * el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL»,
 * SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 * Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 * que establece la Licencia.
 */

.rup-dropdown-btn-group {
    display: inline-block;
}

.rup-dropdown{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 0px;
}


.rup-dropdown-button{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0px;
/* 	left: -1px; */
	width:25px;
}

.rup-dropdown-dialog{
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

button.ui-button-icon-only.rup-dropdown-button{
	width: 1.8em;
}

.rup-dropdown-dialog > .ui-widget-header{
	background: none;
	border:0px;
}




/* Dropdown HTML List */

.rup-dropdown-option-list{
	display: none;
	background-color: #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	border: 1px solid rgba(0, 0, 0, 0.15);
	list-style: outside none none;
	margin: 2px 0 0;
	padding: 5px 0;
	position: absolute;
	z-index: 9000;
	font-size: 1.1em;

}

.rup-dropdown-option-list.open{
	display: block;
}

.rup-dropdown-option-list > li > a  {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

.rup-dropdown-option-list.rup-toolbar_menuButtonContainer > li > a {
	padding: 0px;
}

.rup-dropdown-option-list .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

.rup-dropdown-btn-group .rup-toolbar_button.rup-dropdown{
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}
