/*!
 * Copyright 2015 E.J.I.E., S.A.
 *
 * Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la «Licencia»);
 * Solo podrá usarse esta obra si se respeta la Licencia.
 * Puede obtenerse una copia de la Licencia en
 *
 *      http://ec.europa.eu/idabc/eupl.html
 *
 * Salvo cuando lo exija la legislación aplicable o se acuerde por escrito, 
 * el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL»,
 * SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 * Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 * que establece la Licencia.
 */

.rup-dropdown-btn-group {
    display: inline-block;
}

.rup-dropdown{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 0px;
}


.rup-dropdown-button{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0px;
/* 	left: -1px; */
	width:25px;
}

.rup-dropdown-dialog{
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

button.ui-button-icon-only.rup-dropdown-button{
	width: 1.8em;
}

.rup-dropdown-dialog > .ui-widget-header{
	background: none;
	border:0px;
}




/* Dropdown HTML List */

.rup-dropdown-option-list{
	display: none;
	background-color: #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	border: 1px solid rgba(0, 0, 0, 0.15);
	list-style: outside none none;
	margin: 2px 0 0;
	padding: 5px 0;
	position: absolute;
	z-index: 9000;
	font-size: 1.1em;
	
}

.rup-dropdown-option-list.open{
	display: block;
}

.rup-dropdown-option-list > li > a  {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

.rup-dropdown-option-list.rup-toolbar_menuButtonContainer > li > a {
	padding: 0px;
}

.rup-dropdown-option-list .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

.rup-dropdown-btn-group .rup-toolbar_button.rup-dropdown{
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

/* .rup-dropdown-button > span.ui-button-icon-primary{ */
/* 	left:0.25em; */
/* }  */

/* .dropdownButton fieldset */
/* 	{ */
/* 	  margin: 0; */
/* 	  padding: 0; */
/* 	  border: 0; */
/* 	} */
	
/* 	.dropdownButton input:focus,textarea:focus { */
/* 	  outline: none; */
/* 	} */
	
	

	
/* 	/*----------------------*/ */
	
/* 	.dropdownButton:before, */
/* 	.dropdownButton:after { */
/* 	  content:""; */
/* 	  display:table; */
/* 	} */
	
/* 	.dropdownButton:after { */
/* 	  clear:both; */
/* 	} */
	
/* 	.dropdownButton { */
         
/* 	  zoom:1; */
/* 	} */
	  


/* 	/*----------------------*/ */
	
/* 	.dropdownButton ul { */
/* 	  margin: 0; */
/* 	  padding: 5px; */
/* 	  list-style: none; */
/* 	  position: relative; */
/* 	  float: right; */
/* 	  background: #eee; */
/* 	  border-bottom: 1px solid #fff; */
/* 	  -moz-border-radius: 3px; */
/* 	  -webkit-border-radius: 3px; */
/* 	  border-radius: 3px;     */
/* 	} */
	
/* 	.dropdownButton li { */
/* 	  float: left;           */
/* 	} */
	
/*        .dropdownButton-list { */
/* 	  border-right: 1px solid #ddd; */
/* 	  -moz-box-shadow: 1px 0 0 #fff; */
/* 	  -webkit-box-shadow: 1px 0 0 #fff; */
/* 	  box-shadow: 1px 0 0 #fff;   */
/* 	} */
	
/* 	 .dropdownButton-trigger, */
/* 	 .dropdownButton-menu a { */
/* 	  display: inline-block; */
/* 	  *display: inline; */
/* 	  *zoom: 1; */
/* 	  height: 25px; */
/* 	  line-height: 25px; */
/* 	  font-weight: bold; */
/* 	  padding: 0 8px; */
/* 	  text-decoration: none; */
/* 	  color: #444; */
/* 	  text-shadow: 0 1px 0 #fff;  */
/* 	} */
	
/* 	div .dropdownButton-menu a { */
/* 	  -moz-border-radius: 0 3px 3px 0; */
/* 	  -webkit-border-radius: 0 3px 3px 0; */
/* 	  border-radius: 0 3px 3px 0; */
/* 	} */
	
/* 	div .dropdownButton-trigger { */
/* 	  -moz-border-radius: 3px 0 0 3px; */
/* 	  -webkit-border-radius: 3px 0 0 3px; */
/* 	  border-radius: 3px 0 0 3px; */
/* 	} */
	
/* 	div .dropdownButton-trigger:hover, */
/* 	div .dropdownButton .active, */
/* 	div .dropdownButton-menu a:hover { */
/* 	  background: #fff; */
/* 	} */
	
/* 	div .dropdownButton-content { */
/* 	  display: none; */
/* 	  position: absolute; */
/* 	  top: 24px; */
/* 	  right: 0; */
/* 	  z-index: 999;     */
/* 	  background: #fff; */
/* 	  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); */
/* 	  background-image: -webkit-linear-gradient(top, #fff, #eee); */
/* 	  background-image: -moz-linear-gradient(top, #fff, #eee); */
/* 	  background-image: -ms-linear-gradient(top, #fff, #eee); */
/* 	  background-image: -o-linear-gradient(top, #fff, #eee); */
/* 	  background-image: linear-gradient(top, #fff, #eee);   */
/* 	  padding: 15px; */
/* 	  -moz-box-shadow: 2px 2px 2px -1px rgba(0,0,0,.9); */
/* 	  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9); */
/* 	  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9); */
/* 	  -moz-border-radius: 3px 0 3px 3px; */
/* 	  -webkit-border-radius: 3px 0 3px 3px; */
/* 	  border-radius: 3px 0 3px 3px; */
/* 	} */
	
/* 	div li .dropdownButton-content { */
/* 	  right: 0; */
/* 	  width: 230px;   */
/* 	} */
	
/* 	/*--------------------*/ */
	
/* 	.dropdownButton-inputs input { */
/* 	  background: #f1f1f1; */
/* 	  padding: 6px 5px; */
/* 	  margin: 0 0 5px 0; */
/* 	  width: 238px; */
/* 	  border: 1px solid #ccc; */
/* 	  -moz-border-radius: 3px; */
/* 	  -webkit-border-radius: 3px; */
/* 	  border-radius: 3px; */
/* 	  -moz-box-shadow: 0 1px 1px #ccc inset; */
/* 	  -webkit-box-shadow: 0 1px 1px #ccc inset; */
/* 	  box-shadow: 0 1px 1px #ccc inset; */
/* 	} */
	
/* 	.dropdownButton-inputs input:focus { */
/* 	  background-color: #fff; */
/* 	  border-color: #e8c291; */
/* 	  outline: none; */
/* 	  -moz-box-shadow: 0 0 0 1px #e8c291 inset; */
/* 	  -webkit-box-shadow: 0 0 0 1px #e8c291 inset; */
/* 	  box-shadow: 0 0 0 1px #e8c291 inset; */
/* 	} */
	
/* 	/*--------------------*/ */
	
/* 	.dropdownButton-list .dropdownButton-actions { */
/* 	  margin: 10px 0 0 0; */
/* 	} */
	
/* 	.dropdownButton-actions .dropdownButton-submits {		 */
/* 	  background-color: #d14545; */
/* 	  background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545)); */
/* 	  background-image: -webkit-linear-gradient(top, #e97171, #d14545); */
/* 	  background-image: -moz-linear-gradient(top, #e97171, #d14545); */
/* 	  background-image: -ms-linear-gradient(top, #e97171, #d14545); */
/* 	  background-image: -o-linear-gradient(top, #e97171, #d14545); */
/* 	  background-image: linear-gradient(top, #e97171, #d14545); */
/* 	  -moz-border-radius: 3px; */
/* 	  -webkit-border-radius: 3px; */
/* 	  border-radius: 3px; */
/* 	  text-shadow: 0 1px 0 rgba(0,0,0,.5); */
/* 	  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset; */
/* 	  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset; */
/* 	  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;     */
/* 	  border: 1px solid #7e1515; */
/* 	  float: left; */
/* 	  height: 30px; */
/* 	  padding: 0; */
/* 	  width: 100px; */
/* 	  cursor: pointer; */
/* 	  font: bold 14px Arial, Helvetica; */
/* 	  color: #fff; */
/*          display:'inline-block     */
/* 	} */
	
/* 	.dropdownButton-actions .dropdownButton-submits:hover, */
/* 	.dropdownButton-actions .dropdownButton-submits:focus {		 */
/* 	  background-color: #e97171; */
/* 	  background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171)); */
/* 	  background-image: -webkit-linear-gradient(top, #d14545, #e97171); */
/* 	  background-image: -moz-linear-gradient(top, #d14545, #e97171); */
/* 	  background-image: -ms-linear-gradient(top, #d14545, #e97171); */
/* 	  background-image: -o-linear-gradient(top, #d14545, #e97171); */
/* 	  background-image: linear-gradient(top, #d14545, #e97171); */
/* 	}	 */
	
/* 	.dropdownButton-actions .dropdownButton-submits:active {		 */
/* 	  outline: none; */
/* 	  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; */
/* 	  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; */
/* 	  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		 */
/* 	} */
	
/* 	.dropdownButton-actions .dropdownButton-submits::-moz-focus-inner { */
/* 	  border: none; */
/* 	} */
	
/* 	.dropdownButton-list label { */
/* 	  float: right; */
/* 	  line-height: 30px; */
/* 	} */
	
/* 	.dropdownButton-list label input { */
/* 	  position: relative; */
/* 	  top: 2px; */
/* 	  right: 2px; */
/* 	} */
		